<div>
    <h2 class="navigation-title">Dodaj djelatnika Odjela za matematiku</h2>
</div>
<form name="myForm" novalidate>
    <div class="form-group">
        <label for="addUserProfileName" class="form-horizontal control-label">Ime*</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addUserProfileName" placeholder="Ime" ng-model="vm.userProfile.Name" required>
        </div>
    </div>
    <div class="form-group">
        <label for="addUserProfileSurname" class="form-horizontal control-label">Prezime*</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addUserProfileSurname" placeholder="Prezime" ng-model="vm.userProfile.Surname" required>
        </div>
    </div>
    <div class="form-group">
        <label for="addUserTitle" class="form-horizontal control-label">Titula</label>
        <div class="input-sm" ng-hide="vm.check.title">
            <select class="form-control" id="addUserTitle" ng-model="vm.userProfile.TitleId">
                <option value="">-- Odaberite titulu --</option>
                <option ng-repeat="option in vm.lookups.UserTitles" value="{{option.ID}}">{{option.Name}}</option>
            </select>
        </div><br>
        <label for="addUserTitle" class="form-horizontal control-label">
            Titule nema na popisu:
            <input type="checkbox" ng-model="vm.check.title" />
        </label><br>
        <div class="input-sm" ng-show="vm.check.title">
            <input type="text" class="form-control" id="addUserTitle" placeholder="Titula" ng-model="vm.userProfile.UserTitle.Name">
        </div>
    </div>
    <div class="form-group">
        <label for="addUserAcademicRank" class="form-horizontal control-label">Akademsko zvanje</label>
        <div class="input-sm" ng-hide="vm.check.rank">
            <select class="form-control" id="addUserAcademicRank" ng-model="vm.userProfile.AcademicRankId">
                <option value="">-- Odaberite akademsko zvanje --</option>
                <option ng-repeat="option in vm.lookups.UserAcademicRanks" value="{{option.ID}}">{{option.Name}}</option>
            </select>
        </div><br>
        <label for="addUserAcademicRank" class="form-horizontal control-label">
            Zvanja nema na popisu:
            <input type="checkbox" ng-model="vm.check.rank" />
        </label><br>
        <div class="input-sm" ng-show="vm.check.rank">
            <input type="text" class="form-control" id="addUserAcademicRank" placeholder="Zvanje" ng-model="vm.userProfile.UserAcademicRank.Name">
        </div>
    </div>

    <div class="form-group">
        <label for="addUserProfileResearchGroup" class="form-horizontal control-label">Istraživački tim</label>
        <div class="input-sm" ng-hide="vm.check.group">
            <select class="form-control" id="addUserProfileResearchGroup" ng-model="vm.userProfile.ResearchGroupId">
                <option value="">-- Odaberite istraživački tim --</option>
                <option ng-repeat="option in vm.lookups.ResearchGroups" value="{{option.ID}}">{{option.Name}}</option>
            </select>
        </div><br>
        <label for="addUserProfileResearchGroup" class="form-horizontal control-label">
            Tima nema na popisu:
            <input type="checkbox" ng-model="vm.check.group" />
        </label><br>
        <div class="input-sm" ng-show="vm.check.group">
            <input type="text" class="form-control" id="addUserProfileType" placeholder="Istraživački tim" ng-model="vm.userProfile.ResearchGroup.Name">
        </div>
    </div>
    <div class="form-group">
        <label for="addUserProfileChair" class="form-horizontal control-label">Predsjedništvo</label>
        <div class="input-sm" ng-hide="vm.check.chair">
            <select class="form-control" id="addUserProfileChair" ng-model="vm.userProfile.ChairId">
                <option value="">-- Odaberite predsjedništvo --</option>
                <option ng-repeat="option in vm.lookups.Chairs" value="{{option.ID}}">{{option.Name}}</option>
            </select>
        </div><br>
        <label for="addUserProfileChair" class="form-horizontal control-label">
            Predsjedništva nema na popisu:
            <input type="checkbox" ng-model="vm.check.chair" />
        </label><br>
        <div class="input-sm" ng-show="vm.check.chair">
            <input type="text" class="form-control" id="addChair" placeholder="Predsjedništvo" ng-model="vm.userProfile.Chair.Name">
        </div>
    </div>
    <div class="form-group">
        <label for="addUserProfileRoom" class="form-horizontal control-label">Soba</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addUserProfileRoom" placeholder="Soba" ng-model="vm.userProfile.Room">
        </div>
    </div>
    <div class="form-group">
        <label for="addUserProfileFloor" class="form-horizontal control-label">Kat</label>
        <div class="input-sm">
            <input type="number" min="0" class="form-control" id="addUserProfileFloor" placeholder="Kat" ng-model="vm.userProfile.Floor">
        </div>
    </div>
    <div class="form-group">
        <label for="addUserProfileTelephone" class="form-horizontal control-label">Telefon</label>
        <div class="input-sm">
            <input type="tel" class="form-control" id="addUserProfileTelephone" placeholder="Telefon" ng-model="vm.userProfile.TelephoneNumber">
        </div>
    </div>
    <div class="form-group">
        <label for="addUserProfileEmail" class="form-horizontal control-label">Email</label>
        <div class="input-sm">
            <input type="email" class="form-control" id="addUserProfileEmail" placeholder="Email" ng-model="vm.userProfile.Email">
        </div>
    </div>
    <div class="form-group">
        <label for="addUserProfilePicturePath" class="form-horizontal control-label">Link slike</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addUserProfilePicturePath" placeholder="Link slike" ng-model="vm.userProfile.PicturePath">
        </div>
    </div>
    <div class="form-group">
        <label for="addUserProfileURL" class="form-horizontal control-label">URL</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addUserProfileURL" placeholder="URL" ng-model="vm.userProfile.URL">
        </div>
    </div>
    <div class="form-group">
        <label for="addUserProfileComment" class="form-horizontal control-label">Komentar</label>
        <div class="textarea--padding">
            <textarea class="form-control" style="resize:vertical" id="addUserProfileComment" placeholder="Komentar" ng-model="vm.userProfile.Comment"></textarea>
        </div>
    </div>
    <div class="form-group text-center">
        <div class="btn-group-vertical">
            <button type="submit" class="btn btn-success" value="Save" ng-disabled="!myForm.$valid" ng-click="vm.post(vm.userProfile)">Spremi korisnika</button>
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </div>
    </div>
</form>