<div>
    <h2 class="navigation-title">Detalji</h2>
</div>
<table class="table table-hover small">
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Ime</td>
        <td class="text-primary">
            {{vm.userProfile.Name}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Prezime</td>
        <td class="text-primary">
            {{vm.userProfile.Surname}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Titula</td>
        <td class="text-primary">
            {{vm.userProfile.UserTitle.Name}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Akademsko zvanje</td>
        <td class="text-primary">
            {{vm.userProfile.UserAcademicRank.Name}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Istraživački tim</td>
        <td class="text-primary">
            {{vm.userProfile.ResearchGroup.Name}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Predsjedništvo</td>
        <td class="text-primary">
            {{vm.userProfile.Chair.Name}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Soba</td>
        <td class="text-primary">
            {{vm.userProfile.Room}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Kat</td>
        <td class="text-primary">
            {{vm.userProfile.Floor}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Telefon</td>
        <td class="text-primary">
            {{vm.userProfile.TelephoneNumber}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Email</td>
        <td class="text-primary">
            {{vm.userProfile.Email}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">URL</td>
        <td class="text-primary">
            {{vm.userProfile.URL}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Link slike</td>
        <td class="text-primary">
            {{vm.userProfile.PicturePath}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Komentar</td>
        <td class="text-primary">
            {{vm.userProfile.Comment}}
        </td>
    </tr>
    <tr class="text-center">
        <td class="text-center" colspan="2">
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </td>
    </tr>
</table>