﻿<div ng-controller="LoginUserController as vm" class="login">
    <div class="main-content" style="padding-bottom:0px;">
        <div>
            <h2 class="navigation-title">Prijava</h2>
        </div>
        <form class="form-horizontal" name="myForm">
            <div class="form-group">
                <label class="control-label col-sm-offset-1 col-xs-offset-1" for="user">Korisničko ime:</label>
                <div class="col-sm-12">
                    <input type="text" autofocus ng-model="vm.loginUser.userName" class="form-control" id="user" placeholder="Unesite korisničko ime" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-offset-1 col-xs-offset-1" for="pwd">Lozinka:</label>
                <div class="col-sm-12">
                    <input type="password" ng-model="vm.loginUser.password" class="form-control" id="pwd" placeholder="Unesite lozinku" required>
                </div>
            </div>
            <div class="form-group text-center">
                <div class="btn-group-vertical logbtn">
                    <input type="button" value="Login" class="btn btn-primary " ng-disabled="!myForm.$valid || vm.loading" ng-click="vm.login(vm.loginUser)" />
                    <!--<a ui-sref="home" class="btn btn-warning">Zaboravio/la sam lozinku</a>--> <!--nije implementirano-->
                    <div class="spinner-loader" ng-show="vm.loading"></div>
                    <div class="list-group-item js-fade login-alert" ng-class="[vm.class, vm.fadeClass]">
                        <span class="glyphicon" ng-class="vm.iconClass" aria-hidden="true"></span>
                        {{vm.message}}
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div>
        <a class="btn btn-default" aria-label="Natrag" ui-sref="home"><i class="glyphicon glyphicon-chevron-left"></i>Početna</a>
    </div>
</div>