<div>
    <h2 class="navigation-title">Dodaj stranog studenta</h2>
</div>
<form name="myForm" novalidate>
    <div class="form-group">
        <label for="addForeignStudentName" class="form-horizontal control-label">Ime</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addForeignStudentName" placeholder="Ime" ng-model="vm.foreignStudent.Name">
        </div>
    </div>
    <div class="form-group">
        <label for="addForeignStudentSurname" class="form-horizontal control-label">Prezime</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addForeignStudentSurname" placeholder="Prezime" ng-model="vm.foreignStudent.Surname">
        </div>
    </div>
    <div class="form-group">
        <label for="addForeignStudentCity" class="form-horizontal control-label">Grad</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addForeignStudentCity" placeholder="Grad" ng-model="vm.foreignStudent.City">
        </div>
    </div>
    <div class="form-group">
        <label for="addForeignStudentState" class="form-horizontal control-label">Država</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addForeignStudentState" placeholder="Država" ng-model="vm.foreignStudent.State">
        </div>
    </div>
    <div class="form-group">
        <label for="addForeignStudentTelephone" class="form-horizontal control-label">Telefon</label>
        <div class="input-sm">
            <input type="tel" class="form-control" id="addForeignStudentTelephone" placeholder="Telefon" ng-model="vm.foreignStudent.TelephoneNumber">
        </div>
    </div>
    <div class="form-group">
        <label for="addForeignStudentEmail" class="form-horizontal control-label">Email</label>
        <div class="input-sm">
            <input type="email" class="form-control" id="addForeignStudentEmail" placeholder="Email" ng-model="vm.foreignStudent.Email">
        </div>
    </div>
    <div class="form-group">
        <label for="addForeignStudentComment" class="form-horizontal control-label">Komentar</label>
        <div class="textarea--padding">
            <textarea class="form-control" style="resize:vertical" id="addForeignStudentComment" placeholder="Komentar" ng-model="vm.foreignStudent.Comment"></textarea>
        </div>
    </div>
    <div class="form-group text-center">
        <div class="btn-group-vertical">
            <button type="submit" class="btn btn-success" value="Save" ng-disabled="!myForm.$valid" ng-click="vm.post(vm.foreignStudent)">Spremi studenta</button>
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </div>
    </div>
</form>
