<div>
    <h2 class="navigation-title">Uredi boravak djelatnika Odjela za matematiku</h2>
</div>
<form name="myForm" novalidate>
    <div class="form-group">
        <label class="form-horizontal control-label">Djelatnik</label>
        <div class="input-sm" ng-hide="vm.check.user">
            <select class="form-control" ng-model="vm.ourProfessorVisit.UserProfileId">
                <option value="">-- Odaberite djelatnika --</option>
                <option ng-selected="{{option.ID == vm.ourProfessorVisit.UserProfileId}}" 
                ng-repeat="option in vm.userProfiles" value="{{option.ID}}">{{option.Name}} {{option.Surname}}</option>
            </select>
        </div><br>
        <label class="form-horizontal control-label">Djelatnika nema na popisu:
            <input type="checkbox" ng-model="vm.check.user"/>
        </label><br>
        <div class="input-sm" ng-show="vm.check.user">                    
                <label class="form-horizontal control-label">Klikni za uređivanje novog profila!</label>
                <button class="btn btn-warning" ng-click="vm.addUserProfile()">Nastavi!</button>
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Zavod/katedra</label>
        <div class="input-sm" ng-hide="vm.check.department">
            <select class="form-control" ng-model="vm.ourProfessorVisit.DepartmentId">
                <option value="">-- Odaberite katedru --</option>
                <option ng-selected="{{option.ID == vm.ourProfessorVisit.DepartmentId}}" 
                ng-repeat="option in vm.lookups.Departments" value="{{option.ID}}">{{option.Name}}</option>
            </select>
        </div><br>
        <label  class="form-horizontal control-label">Katedre nema na popisu:
            <input type="checkbox" ng-model="vm.check.department"/>
        </label><br>
        <div class="input-sm" ng-show="vm.check.department">
                <input type="text" class="form-control" placeholder="Naziv katedre" ng-model="vm.ourProfessorVisit.Department.Name">
        </div>
    </div>
    <!-- Multiple select -->
    <div class="form-group">
        <label class="form-horizontal control-label">Vrsta boravka</label>
        <div class="input-sm"
            ng-dropdown-multiselect="" 
            options="vm.lookups.VisitTypes" 
            selected-model="vm.ourProfessorVisit.ProfessorVisitTypes" 
            extra-settings="{smartButtonMaxItems:3,displayProp:'Type',externalIdProp:'VisitTypeId'}" 
            translation-texts="{buttonDefaultText:'Označi vrste'}">
        </div><br>
        <label class="form-horizontal control-label">Vrste nema na popisu:
            <input type="checkbox" ng-model="vm.check.type"/>
        </label><br>
        <div class="input-sm" ng-show="vm.check.type">   
            <label class="form-horizontal control-label">Vrste odvojite zarezom                 
            <input type="text" class="form-control"  placeholder="Vrsta1,vrsta2..." ng-model="vm.ourProfessorVisit.NewVisitTypes" >
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="form-horizontal control-label">Naziv institucije na kojoj djelatnik boravi</label>
        <div class="input-sm" ng-hide="vm.check.institution">
            <select class="form-control" ng-model="vm.ourProfessorVisit.ForeignInstitutionId">
                <option value="">-- Odaberite instituciju --</option>
                <option ng-selected="{{option.ID == vm.ourProfessorVisit.ForeignInstitutionId}}" 
                ng-repeat="option in vm.foreignInstitutions" value="{{option.ID}}">{{option.InstitutionName}}</option>
            </select>
        </div><br>
        <label class="form-horizontal control-label">Institucije nema na popisu:
            <input type="checkbox" ng-model="vm.check.institution"/>
        </label><br>
        <div class="input-sm" ng-show="vm.check.institution">                    
                <label class="form-horizontal control-label">Klikni za uređivanje nove institucije!</label>
                <button class="btn btn-warning" ng-click="vm.addForeignInstitution()">Nastavi!</button>
        </div>
    </div>
    <!-- Možda dodati opciju da unesemo grad i državu neovisno o instituciji -->
    <div class="form-group">
        <label class="form-horizontal control-label">Naziv skupa</label>
        <div class="input-sm">
            <input type="text" class="form-control" placeholder="Naziv skupa" ng-model="vm.ourProfessorVisit.ConferenceTitle">
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Datum početka boravka</label>
        <div class="input-sm">
            <input type="date" class="form-control" ng-model="vm.ourProfessorVisit.StartDate">
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Akademska godina</label>
        <div class="input-sm">
            <input type="text" class="form-control" placeholder="Akademska godina" ng-model="vm.ourProfessorVisit.AcademicYear">
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Trajanje boravka</label>
        <div class="input-sm" ng-hide="vm.check.duration">
            <select class="form-control" ng-model="vm.ourProfessorVisit.DurationId">
                <option value="">-- Odaberite trajanje --</option>
                <option ng-selected="{{option.ID == vm.ourProfessorVisit.DurationId}}" 
                ng-repeat="option in vm.lookups.Durations" value="{{option.ID}}">{{option.Length}}</option>
            </select>
        </div><br>
        <label class="form-horizontal control-label">Trajanja nema na popisu:
            <input type="checkbox" ng-model="vm.check.duration"/>
        </label><br>
        <div class="input-sm" ng-show="vm.check.duration">
                <input type="text" class="form-control" placeholder="Trajanje boravka" ng-model="vm.ourProfessorVisit.Duration.Length" >
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Financiranje puta</label>
        <div class="input-sm" ng-hide="vm.check.tfunding">
            <select class="form-control" ng-model="vm.ourProfessorVisit.TravelFundingId">
                <option value="">-- Odaberite financiranje puta --</option>
                <option ng-selected="{{option.ID == vm.ourProfessorVisit.TravelFundingId}}" 
                ng-repeat="option in vm.lookups.Fundings" value="{{option.ID}}">{{option.Type}}</option>
            </select>
        </div><br>
        <label class="form-horizontal control-label">Financiranja nema na popisu:
            <input type="checkbox" ng-model="vm.check.tfunding"/>
        </label><br>
        <div class="input-sm" ng-show="vm.check.tfunding">
                <input type="text" class="form-control" placeholder="Financiranje puta" ng-model="vm.ourProfessorVisit.TravelFunding.Type" >
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Financiranje boravka</label>
        <div class="input-sm" ng-hide="vm.check.sfunding">
            <select class="form-control" ng-model="vm.ourProfessorVisit.FundingOfStayId">
                <option value="">-- Odaberite financiranje boravka --</option>
                <option ng-selected="{{option.ID == vm.ourProfessorVisit.FundingOfStayId}}" 
                ng-repeat="option in vm.lookups.Fundings" value="{{option.ID}}">{{option.Type}}</option>
            </select>
        </div><br>
        <label  class="form-horizontal control-label">Financiranja nema na popisu:
            <input type="checkbox" ng-model="vm.check.sfunding"/>
        </label><br>
        <div class="input-sm" ng-show="vm.check.sfunding">
                <input type="text" class="form-control"  placeholder="Financiranje boravka" ng-model="vm.ourProfessorVisit.FundingOfStay.Type" >
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Rezultat posjeta</label>
        <div class="textarea--padding">
            <textarea class="form-control" style="resize:vertical" placeholder="Rezultat posjeta" ng-model="vm.ourProfessorVisit.VisitResult"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Web adresa za dodatne informacije</label>
        <div class="input-sm">
            <input type="url" class="form-control" placeholder="URL" ng-model="vm.ourProfessorVisit.URL">
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Komentar</label>
        <div class="textarea--padding">
            <textarea class="form-control" style="resize:vertical" placeholder="Komentar" ng-model="vm.ourProfessorVisit.Comment"></textarea>
        </div>
    </div>
    <div class="form-group text-center">
        <div class="btn-group-vertical">
            <button type="submit" class="btn btn-success" value="Save" ng-disabled="!myForm.$valid" ng-click="vm.put(vm.ourProfessorVisit)">Spremi promjene</button>
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </div>
    </div>
</form>