<div ng-controller="OurProfessorVisitController as vm">
    <div class="main-content">
        <div>
            <h2 class="navigation-title">Boravci djelatnika Odjela za matematiku</h2>
            <div class="row">
                <div class="col-xs-3 col-md-2 col-lg-2">
                    <button class="list-group-item list-group-item-success" style="text-align:center" 
                            ng-click="vm.addOurProfessorVisit()">Dodaj</button>
                </div>
                <div class="col-xs-9 col-md-10 col-lg-10 list-group-item js-fade" ng-class="[vm.class, vm.fadeClass]">
                    <span class="glyphicon" ng-class="vm.iconClass" aria-hidden="true"></span>
                    {{vm.message}}
                </div>
            </div>
        </div>

        <table st-table="displayedCollection" st-safe-src="vm.ourProfessorVisits" class="table table-hover small">
            <caption class="text-right"><input st-search="" class="form-control" placeholder="Tražilica ..." type="text" /></caption>
            <thead class="text-nowrap">
                <tr>
                    <th>Djelatnik</th>
                    <th>Katedra</th>
                    <th>Vrsta boravka</th>
                    <th>Institucija</th>
                    <th>Naziv skupa</th>
                    <th>Ak. godina</th>
                    <th>Datum</th>
                    <th>Trajanje</th>
                    <th>Uredi</th>
                    <th>Obriši</th>
                </tr>
            </thead>
            <tbody ng-show="!vm.loading">
                <tr ng-repeat="ourProfessorVisit in displayedCollection" ng-click="vm.showOurProfessorVisit(ourProfessorVisit)">
                    <td>{{ourProfessorVisit.UserProfile.Name}} {{ourProfessorVisit.UserProfile.Surname}}</td>
                    <td>{{ourProfessorVisit.Department.Name}}</td>
                    <td>
                        <li class="list-unstyled"
                            ng-repeat="ourProfessorVisit in ourProfessorVisit.ProfessorVisitTypes">
                            {{ourProfessorVisit.VisitType.Type}}
                        </li>
                    </td>
                    <td>{{ourProfessorVisit.ForeignInstitution.InstitutionName}}</td>
                    <td>{{ourProfessorVisit.ConferenceTitle}}</td>
                    <td>{{ourProfessorVisit.AcademicYear}}</td>
                    <td>{{ourProfessorVisit.StartDate | date: "dd-MM-yyyy"}}</td>
                    <td>{{ourProfessorVisit.Duration.Length}}</td>
                    <td ng-click="$event.stopPropagation()"><a ng-click="vm.editOurProfessorVisit(ourProfessorVisit)"><i class="glyphicon glyphicon-edit" style=" color:blue"></i></a></td>
                    <td ng-click="$event.stopPropagation()"><a href="javascript:void(0);" ng-click="vm.delete(ourProfessorVisit)"><i class="glyphicon glyphicon-trash" style="color:red"></i></a></td>
                </tr>
            </tbody>
            <tbody ng-show="vm.loading">
                <tr>
                    <td colspan="10" class="text-center"><div class="spinner-loader" ng-show="vm.loading"></div></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10" class="text-center">
                        <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div>
        <a class="btn btn-default" aria-label="Natrag" ui-sref="home"><i class="glyphicon glyphicon-chevron-left"></i>Početna</a>
    </div>
</div>