<div>
    <h2 class="navigation-title">Detalji</h2>
</div>
<table class="table table-hover small">
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Djelatnik</td>
        <td class="text-primary">
            {{vm.ourProfessorVisit.UserProfile.Name}} {{vm.ourProfessorVisit.UserProfile.Surname}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Zavod/katedra</td>
        <td class="text-primary">
            {{vm.ourProfessorVisit.Department.Name}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Vrsta boravka</td>
        <td class="text-primary">
            <li class="list-unstyled"
                ng-repeat="ourProfessorVisit in vm.ourProfessorVisit.ProfessorVisitTypes">
                {{ourProfessorVisit.VisitType.Type}}
            </li>
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Naziv institucije na kojoj djelatnik boravi</td>
        <td class="text-primary">
            {{vm.ourProfessorVisit.ForeignInstitution.InstitutionName}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Naziv skupa</td>
        <td class="text-primary">
            {{vm.ourProfessorVisit.ConferenceTitle}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Datum početka boravka</td>
        <td class="text-primary">
            {{vm.ourProfessorVisit.StartDate | date: "dd.MM.yyyy."}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Akademska godina</td>
        <td class="text-primary">
            {{vm.ourProfessorVisit.AcademicYear}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Trajanje boravka</td>
        <td class="text-primary">
            {{vm.ourProfessorVisit.Duration.Length}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Financiranje puta</td>
        <td class="text-primary">
            {{vm.ourProfessorVisit.TravelFunding.Type}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Financiranje boravka</td>
        <td class="text-primary">
            {{vm.ourProfessorVisit.FundingOfStay.Type}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Rezultat posjeta</td>
        <td class="text-primary">
            {{vm.ourProfessorVisit.VisitResult}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Web adresa za dodatne informacije</td>
        <td class="text-primary">
            {{vm.ourProfessorVisit.URL}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Komentar</td>
        <td class="text-primary">
            {{vm.ourProfessorVisit.Comment}}
        </td>
    </tr>
    <tr class="text-center">
        <td class="text-center" colspan="2">
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </td>
    </tr>
</table>