<div>
    <h2 class="navigation-title">Uredi boravak stranog studenta na Odjelu za matematiku</h2>
</div>
<form name="myForm" novalidate>
    <div class="form-group">
        <label class="form-horizontal control-label">Student</label>
        <div class="input-sm" ng-hide="vm.check.student">
            <select class="form-control"  ng-model="vm.foreignStudentExchange.ForeignStudentId">
                <option value="">-- Odaberite studenta --</option>
                <option ng-repeat="option in vm.foreignStudents" 
                ng-selected="{{option.ID == vm.foreignStudentExchange.ForeignStudentId}}" 
                value="{{option.ID}}">{{option.Name}} {{option.Surname}}</option>
            </select>
        </div><br>
        <label  class="form-horizontal control-label">Studenta nema na popisu:
            <input type="checkbox" ng-model="vm.check.student"/>
        </label><br>
        <div class="input-sm" ng-show="vm.check.student">                    
                <label class="form-horizontal control-label">Klikni za uređivanje novog studenta!</label>
                <button class="btn btn-warning" ng-click="vm.addForeignStudent()">Nastavi!</button>
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Institucija</label>
        <div class="input-sm" ng-hide="vm.check.institution">
            <select class="form-control" ng-model="vm.foreignStudentExchange.ForeignInstitutionId">
                <option value="">-- Odaberite instituciju --</option>
                <option ng-repeat="option in vm.foreignInstitutions"
                ng-selected="{{option.ID == vm.foreignStudentExchange.ForeignInstitutionId}}"
                value="{{option.ID}}">{{option.InstitutionName}}</option>
            </select>
        </div><br>
        <label class="form-horizontal control-label">Institucije nema na popisu:
            <input type="checkbox" ng-model="vm.check.institution"/>
        </label><br>
        <div class="input-sm" ng-show="vm.check.institution">                    
                <label class="form-horizontal control-label">Klikni za uređivanje nove institucije!</label>
                <button class="btn btn-warning" ng-click="vm.addForeignInstitution()">Nastavi!</button>
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Kontakt osoba s Odjela</label>
        <div class="input-sm" ng-hide="vm.check.user">
            <select class="form-control"  ng-model="vm.foreignStudentExchange.UserProfileId">
                <option value="">-- Odaberite kontakt osobu --</option>
                <option ng-repeat="option in vm.userProfiles"
                ng-selected="{{option.ID == vm.foreignStudentExchange.UserProfileId}}"
                value="{{option.ID}}">{{option.Name}} {{option.Surname}}</option>
            </select>
        </div><br>
        <label  class="form-horizontal control-label">Kontakt osobe nema na popisu:
            <input type="checkbox" ng-model="vm.check.user"/>
        </label><br>
        <div class="input-sm" ng-show="vm.check.user">                    
                <label class="form-horizontal control-label">Klikni za uređivanje novog djelatnika!</label>
                <button class="btn btn-warning" ng-click="vm.addUserProfile()">Nastavi!</button>
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Zavod/Katedra</label>
        <div class="input-sm" ng-hide="vm.check.department">
            <select class="form-control" ng-model="vm.foreignStudentExchange.DepartmentId">
                <option value="">-- Odaberite katedru --</option>
                <option ng-repeat="option in vm.lookups.Departments" 
                ng-selected="{{option.ID == vm.foreignStudentExchange.DepartmentId}}"
                value="{{option.ID}}">{{option.Name}}</option>
            </select>
        </div><br>
        <label class="form-horizontal control-label">Katedre nema na popisu:
            <input type="checkbox" ng-model="vm.check.department"/>
        </label><br>
        <div class="input-sm" ng-show="vm.check.department">
                <input type="text" class="form-control" ng-model="vm.foreignStudentExchange.Department.Name" >
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Naziv studija</label>
        <div class="input-sm" ng-hide="vm.check.course">
            <select class="form-control" ng-model="vm.foreignStudentExchange.CourseId">
                <option value="">-- Odaberite studij --</option>
                <option ng-repeat="option in vm.lookups.Courses" 
                ng-selected="{{option.ID == vm.foreignStudentExchange.CourseId}}"
                value="{{option.ID}}">{{option.Name}}</option>
            </select>
        </div><br>
        <label class="form-horizontal control-label">Studija nema na popisu:
            <input type="checkbox" ng-model="vm.check.course"/>
        </label><br>
        <div class="input-sm" ng-show="vm.check.course">
                <input type="text" class="form-control" ng-model="vm.foreignStudentExchange.Course.Name" >
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Svrha posjeta</label>
        <div class="input-sm" ng-hide="vm.check.purpose">
            <select class="form-control" ng-model="vm.foreignStudentExchange.VisitPurposeId">
                <option value="">-- Odaberite svrhu posjeta --</option>
                <option ng-repeat="option in vm.lookups.VisitPurposes" 
                ng-selected="{{option.ID == vm.foreignStudentExchange.VisitPurposeId}}"
                value="{{option.ID}}">{{option.Type}}</option>
            </select>
        </div><br>
        <label class="form-horizontal control-label">Svrhe posjeta nema na popisu:
            <input type="checkbox" ng-model="vm.check.purpose"/>
        </label><br>
        <div class="input-sm" ng-show="vm.check.purpose">
                <input type="text" class="form-control" ng-model="vm.foreignStudentExchange.VisitPurpose.Type" >
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Semestar</label>
        <div class="input-sm" ng-hide="vm.check.semester">
            <select class="form-control" ng-model="vm.foreignStudentExchange.SemesterId">
                <option value="">-- Odaberite semestar --</option>
                <option ng-repeat="option in vm.lookups.Semesters" 
                ng-selected="{{option.ID == vm.foreignStudentExchange.SemesterId}}"
                value="{{option.ID}}">{{option.Type}}</option>
            </select>
        </div><br>
        <label class="form-horizontal control-label">Semestra nema na popisu:
            <input type="checkbox" ng-model="vm.check.semester"/>
        </label><br>
        <div class="input-sm" ng-show="vm.check.semester">
                <input type="text" class="form-control" ng-model="vm.foreignStudentExchange.Semester.Type" >
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Organizacija posjeta</label>
        <div class="input-sm" ng-hide="vm.check.organization">
            <select class="form-control" ng-model="vm.foreignStudentExchange.ExchangeOrganizationId">
                <option value="">-- Odaberite organizaciju posjeta --</option>
                <option ng-repeat="option in vm.ExchangeOrganizations" 
                ng-selected="{{option.ID == vm.foreignStudentExchange.ExchangeOrganizationId}}"
                value="{{option.ID}}">{{option.Name}}</option>
            </select>
        </div><br>
        <label  class="form-horizontal control-label">Organizacije nema na popisu:
            <input type="checkbox" ng-model="vm.check.organization"/>
        </label><br>
        <div class="input-sm" ng-show="vm.check.organization">                    
                <label class="form-horizontal control-label">Klikni za uređivanje nove organizacije!</label>
                <button class="btn btn-warning" ng-click="vm.addExchangeOrganization()">Nastavi!</button>
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Datum početka boravka</label>
        <div class="input-sm">
            <input type="date" class="form-control" ng-model="vm.foreignStudentExchange.StartDate">
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Akademska godina</label>
        <div class="input-sm">
            <input type="text" class="form-control" placeholder="Akademska godina" ng-model="vm.foreignStudentExchange.AcademicYear">
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Trajanje boravka</label>
        <div class="input-sm" ng-hide="vm.check.duration">
            <select class="form-control" ng-model="vm.foreignStudentExchange.DurationId">
                <option value="">-- Odaberite trajanje --</option>
                <option ng-repeat="option in vm.lookups.Durations" 
                ng-selected="{{option.ID == vm.foreignStudentExchange.DurationId}}"
                value="{{option.ID}}">{{option.Length}}</option>
            </select>
        </div><br>
        <label class="form-horizontal control-label">Trajanja nema na popisu:
            <input type="checkbox" ng-model="vm.check.duration"/>
        </label><br>
        <div class="input-sm" ng-show="vm.check.duration">
                <input type="text" class="form-control" placeholder="Trajanje boravka" ng-model="vm.foreignStudentExchange.Duration.Length" >
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Financiranje puta</label>
        <div class="input-sm" ng-hide="vm.check.tfunding">
            <select class="form-control" ng-model="vm.foreignStudentExchange.TravelFundingId">
                <option value="">-- Odaberite financiranje puta --</option>
                <option ng-repeat="option in vm.lookups.Fundings" 
                ng-selected="{{option.ID == vm.foreignStudentExchange.TravelFundingId}}"
                value="{{option.ID}}">{{option.Type}}</option>
            </select>
        </div><br>
        <label class="form-horizontal control-label">Financiranja nema na popisu:
            <input type="checkbox" ng-model="vm.check.tfunding"/>
        </label><br>
        <div class="input-sm" ng-show="vm.check.tfunding">
                <input type="text" class="form-control" placeholder="Financiranje puta" ng-model="vm.foreignStudentExchange.TravelFunding.Type" >
        </div>
    </div>
    <div class="form-group">
        <label  class="form-horizontal control-label">Financiranje boravka</label>
        <div class="input-sm" ng-hide="vm.check.sfunding">
            <select class="form-control" ng-model="vm.foreignStudentExchange.FundingOfStayId">
                <option value="">-- Odaberite financiranje boravka --</option>
                <option ng-repeat="option in vm.lookups.Fundings" 
                ng-selected="{{option.ID == vm.foreignStudentExchange.FundingOfStayId}}"
                value="{{option.ID}}">{{option.Type}}</option>
            </select>
        </div><br>
        <label  class="form-horizontal control-label">Financiranja nema na popisu:
            <input type="checkbox" ng-model="vm.check.sfunding"/>
        </label><br>
        <div class="input-sm" ng-show="vm.check.sfunding">
                <input type="text" class="form-control" placeholder="Financiranje boravka" ng-model="vm.foreignStudentExchange.FundingOfStay.Type" >
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Rezultat posjeta</label>
        <div class="input-sm">
            <input type="text" class="form-control" placeholder="Rezultat posjeta" ng-model="vm.foreignStudentExchange.ExchangeResult">
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Komentar</label>
        <div class="textarea--padding">
            <textarea class="form-control" style="resize:vertical" placeholder="Komentar" ng-model="vm.foreignStudentExchange.Comment"></textarea>
        </div>
    </div>
    <div class="form-group text-center">
        <div class="btn-group-vertical">
            <button type="submit" class="btn btn-success" value="Save" ng-disabled="!myForm.$valid" ng-click="vm.put(vm.foreignStudentExchange)">Spremi promjene</button>
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </div>
    </div>
</form>