<div ng-controller="ForeignStudentExchangeController as vm">
    <div class="main-content">
        <div>
            <h2 class="navigation-title">Boravci stranih studenata na Odjelu za matematiku</h2>
            <div class="row">
                <div class="col-xs-3 col-md-2 col-lg-2">
                    <button class="list-group-item list-group-item-success" style="text-align:center" 
                            ng-click="vm.addForeignStudentExchange()">Dodaj</button>
                </div>
                <div class="col-xs-9 col-md-10 col-lg-10 list-group-item js-fade" ng-class="[vm.class, vm.fadeClass]">
                    <span class="glyphicon" ng-class="vm.iconClass" aria-hidden="true"></span>
                    {{vm.message}}
                </div>
            </div>
        </div>
        
        <table st-table="displayedCollection" st-safe-src="vm.foreignStudentExchanges" class="table table-hover small">
            <caption class="text-right"><input st-search="" class="form-control" placeholder="Tražilica ..." type="text" /></caption>
            <thead class="text-nowrap">
                <tr>
                    <th>Student</th>
                    <th>Katedra</th>
                    <th>Kontakt osoba s Odjela</th>
                    <th>Naziv studija</th>
                    <th>Svrha posjeta</th>
                    <th>Semestar</th>
                    <th>Institucija</th>
                    <th>Ak. godina</th>
                    <th>Datum</th>
                    <th>Trajanje</th>
                    <th>Organizacija posjeta</th>
                    <th>Uredi</th>
                    <th>Obriši</th>
                </tr>
            </thead>
            <tbody ng-show="!vm.loading">
                <tr ng-repeat="foreignStudentExchange in displayedCollection" ng-click="vm.showForeignStudentExchange(foreignStudentExchange)">
                    <td>{{foreignStudentExchange.ForeignStudent.Name}} {{foreignStudentExchange.ForeignStudent.Surname}}</td>
                    <td>{{foreignStudentExchange.Department.Name}}</td>
                    <td>{{foreignStudentExchange.UserProfile.Name}} {{foreignStudentExchange.UserProfile.Surname}}</td>
                    <td>{{foreignStudentExchange.Course.Name}}</td>
                    <td>{{foreignStudentExchange.VisitPurpose.Type}}</td>
                    <td>{{foreignStudentExchange.Semester.Type}}</td>
                    <td>{{foreignStudentExchange.ForeignInstitution.InstitutionName}}</td>
                    <td>{{foreignStudentExchange.AcademicYear}}</td>
                    <td class="text-nowrap">{{foreignStudentExchange.StartDate | date: "dd.MM.yyyy."}}</td>
                    <td>{{foreignStudentExchange.Duration.Length}}</td>
                    <td>{{foreignStudentExchange.ExchangeOrganization.Name}}</td>
                    <td ng-click="$event.stopPropagation()"><a ng-click="vm.editForeignStudentExchange(foreignStudentExchange)"><i class="glyphicon glyphicon-edit" style=" color:blue"></i></a></td>
                    <td ng-click="$event.stopPropagation()"><a href="javascript:void(0);" ng-click="vm.delete(foreignStudentExchange)"><i class="glyphicon glyphicon-trash" style="color:red"></i></a></td>
                </tr>
            </tbody>
            <tbody ng-show="vm.loading">
                <tr>
                    <td colspan="13" class="text-center"><div class="spinner-loader" ng-show="vm.loading"></div></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="13" class="text-center">
                        <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div>
        <a class="btn btn-default" aria-label="Natrag" ui-sref="home"><i class="glyphicon glyphicon-chevron-left"></i>Početna</a>
    </div>
</div>