<div>
    <h2 class="navigation-title">Detalji</h2>
</div>
<table class="table table-hover small">
    <tr>
        <td class="text-uppercase text-nowrap details--name">Student</td>
        <td class="text-primary">
            {{vm.foreignStudentExchange.ForeignStudent.Name}} {{vm.foreignStudentExchange.ForeignStudent.Surname}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Institucija</td>
        <td class="text-primary">
            {{vm.foreignStudentExchange.ForeignInstitution.InstitutionName}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Kontakt osoba s Odjela</td>
        <td class="text-primary">
            {{vm.foreignStudentExchange.UserProfile.Name}} {{vm.foreignStudentExchange.UserProfile.Surname}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Zavod/Katedra</td>
        <td class="text-primary">
            {{vm.foreignStudentExchange.Department.Name}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Naziv studija</td>
        <td class="text-primary">
            {{vm.foreignStudentExchange.Course.Name}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Svrha posjeta</td>
        <td class="text-primary" ng-hide="vm.check.purpose">
            {{vm.foreignStudentExchange.VisitPurpose.Type}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Semestar</td>
        <td class="text-primary">
            {{vm.foreignStudentExchange.Semester.Type}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Organizacija posjeta</td>
        <td class="text-primary">
            {{vm.foreignStudentExchange.ExchangeOrganization.Name}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Datum početka boravka</td>
        <td class="text-primary">
            {{vm.foreignStudentExchange.StartDate | date: "dd-MM-yyyy"}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Akademska godina</td>
        <td class="text-primary">
            {{vm.foreignStudentExchange.AcademicYear}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Trajanje boravka</td>
        <td class="text-primary">
            {{vm.foreignStudentExchange.Duration.Length}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Financiranje puta</td>
        <td class="text-primary">
            {{vm.foreignStudentExchange.TravelFunding.Type}}
        </td>
    </tr>
    <tr>
        <td  class="text-uppercase text-nowrap details--name">Financiranje boravka</td>
        <td class="text-primary">
            {{vm.foreignStudentExchange.FundingOfStay.Type}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Rezultat posjeta</td>
        <td class="text-primary">
            {{vm.foreignStudentExchange.ExchangeResult}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Komentar</td>
        <td class="text-primary">
            {{vm.foreignStudentExchange.Comment}}
        </td>
    </tr>
    <tr class="text-center">
        <td class="text-center" colspan="2">
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </td>
    </tr>
</table>