﻿<h2>Dobro došli na početnu stranicu!</h2>
<div class="text-justify input-form small">
    <h3>Kratka pomoć oko navigacije:</h3>
    <p>U kategoriji "Boravci" možete dodavati i uređivati boravke djelatnika Odjela za matematiku na stranim sveučilištima, boravke djelatnika sa stranih sveučilišta na Odjelu, boravke studenata Odjela za matematiku na stranim sveučilištima, a također i boravke stranih studenata na Odjelu.</p>
    <p>Njihove profile, kao i kontakte i članove povjerenstava možete uređivati u kategoriji "Profili".</p>
    <p>Kategorija "Institucije" sadrži popis institucija na kojima djelatnici ili studenti borave ili s kojih dolaze, kao i organizacije za razmjenu studenata.</p>
    <p>Pod kategorijom "Predavanja" možete unositi i uređivati popis skupova(konferencija) i predavanja bez popratne publikacije rada.</p>
    <p>Popis ugovora se nalazi pod linkom "Ugovori", a ostala administracija koja se nalazi pod kategorijom "Administracija" omogućuje administraciju uloga i predsjedništava.</p>
    <h3>Napomena:</h3>
    <p>Prije korištenja se potrebno registrirati i/ili ulogirati.</p>
</div>