<div>
    <h2 class="navigation-title">Dodaj boravak stranog nastavnika/suradnika</h2>
</div>
<form name="myForm" novalidate>
    <div class="form-group">
        <label class="form-horizontal control-label">Strani nastavnik/suradnik</label>
        <div class="input-sm" ng-hide="vm.check.visitor">
            <select class="form-control" ng-model="vm.visitorVisit.VisitorProfileId">
                <option value="">-- Odaberite stranog nastavnika/suradnika --</option>
                <option ng-repeat="option in vm.visitorProfiles" value="{{option.ID}}">{{option.Name}} {{option.Surname}}</option>
            </select>
        </div><br>
        <label class="form-horizontal control-label">
            Stranog nastavnika/suradnika nema na popisu:
            <input type="checkbox" ng-model="vm.check.visitor" />
        </label><br>
        <div class="input-sm" ng-show="vm.check.visitor">
            <label class="form-horizontal control-label">Klikni za uređivanje novog nastavnika/suradnika!</label>
            <button class="btn btn-warning" ng-click="vm.addVisitorProfile()">Nastavi!</button>
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Zavod/katedra</label>
        <div class="input-sm" ng-hide="vm.check.department">
            <select class="form-control" ng-model="vm.visitorVisit.DepartmentId">
                <option value="">-- Odaberite katedru --</option>
                <option ng-repeat="option in vm.lookups.Departments" value="{{option.ID}}">{{option.Name}}</option>
            </select>
        </div><br>
        <label class="form-horizontal control-label">
            Katedre nema na popisu:
            <input type="checkbox" ng-model="vm.check.department" />
        </label><br>
        <div class="input-sm" ng-show="vm.check.department">
            <input type="text" class="form-control" placeholder="Naziv katedre" ng-model="vm.visitorVisit.Department.Name">
        </div>
    </div>

    <!-- Multiple select -->
    <div class="form-group">
        <label class="form-horizontal control-label">Vrsta boravka</label>
        <div class="input-sm"
                ng-dropdown-multiselect=""
                options="vm.lookups.VisitTypes"
                selected-model="vm.visitorVisit.VisitorVisitTypes"
                extra-settings="{smartButtonMaxItems:3,displayProp:'Type',externalIdProp:'VisitTypeId'}"
                translation-texts="{buttonDefaultText:'Označi vrste'}">
        </div><br>
        <label class="form-horizontal control-label">
            Vrste nema na popisu:
            <input type="checkbox" ng-model="vm.check.type" />
        </label><br>
        <div class="input-sm" ng-show="vm.check.type">
            <label class="form-horizontal control-label">
                Vrste odvojite zarezom
                <input type="text" class="form-control" placeholder="Vrsta1,vrsta2..." ng-model="vm.visitorVisit.NewVisitTypes">
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="form-horizontal control-label">Kontakt osoba s Odjela</label>
        <div class="input-sm" ng-hide="vm.check.user">
            <select class="form-control" ng-model="vm.visitorVisit.UserProfileId">
                <option value="">-- Odaberite kontakt osobu --</option>
                <option ng-repeat="option in vm.userProfiles" value="{{option.ID}}">{{option.Name}} {{option.Surname}}</option>
            </select>
        </div><br>
        <label class="form-horizontal control-label">
            Kontakt osobe nema na popisu:
            <input type="checkbox" ng-model="vm.check.user" />
        </label><br>
        <div class="input-sm" ng-show="vm.check.user">
            <label class="form-horizontal control-label">Klikni za uređivanje novog profila!</label>
            <button class="btn btn-warning" ng-click="vm.addUserProfile()">Nastavi!</button>
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Datum početka boravka</label>
        <div class="input-sm">
            <input type="date" class="form-control" ng-model="vm.visitorVisit.StartDate">
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Akademska godina</label>
        <div class="input-sm">
            <input type="text" class="form-control" placeholder="Akademska godina" ng-model="vm.visitorVisit.AcademicYear">
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Trajanje boravka</label>
        <div class="input-sm" ng-hide="vm.check.duration">
            <select class="form-control" ng-model="vm.visitorVisit.DurationId">
                <option value="">-- Odaberite trajanje --</option>
                <option ng-repeat="option in vm.lookups.Durations" value="{{option.ID}}">{{option.Length}}</option>
            </select>
        </div><br>
        <label class="form-horizontal control-label">
            Trajanja nema na popisu:
            <input type="checkbox" ng-model="vm.check.duration" />
        </label><br>
        <div class="input-sm" ng-show="vm.check.duration">
            <input type="text" class="form-control" placeholder="Trajanje boravka" ng-model="vm.visitorVisit.Duration.Length">
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Financiranje puta</label>
        <div class="input-sm" ng-hide="vm.check.tfunding">
            <select class="form-control" ng-model="vm.visitorVisit.TravelFundingId">
                <option value="">-- Odaberite financiranje puta --</option>
                <option ng-repeat="option in vm.lookups.Fundings" value="{{option.ID}}">{{option.Type}}</option>
            </select>
        </div><br>
        <label class="form-horizontal control-label">
            Financiranja nema na popisu:
            <input type="checkbox" ng-model="vm.check.tfunding" />
        </label><br>
        <div class="input-sm" ng-show="vm.check.tfunding">
            <input type="text" class="form-control" placeholder="Financiranje puta" ng-model="vm.visitorVisit.TravelFunding.Type">
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Financiranje boravka</label>
        <div class="input-sm" ng-hide="vm.check.sfunding">
            <select class="form-control" ng-model="vm.visitorVisit.FundingOfStayId">
                <option value="">-- Odaberite financiranje boravka --</option>
                <option ng-repeat="option in vm.lookups.Fundings" value="{{option.ID}}">{{option.Type}}</option>
            </select>
        </div><br>
        <label class="form-horizontal control-label">
            Financiranja nema na popisu:
            <input type="checkbox" ng-model="vm.check.sfunding" />
        </label><br>
        <div class="input-sm" ng-show="vm.check.sfunding">
            <input type="text" class="form-control" placeholder="Financiranje boravka" ng-model="vm.visitorVisit.FundingOfStay.Type">
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Rezultat posjeta</label>
        <div class="textarea--padding">
            <textarea class="form-control" style="resize:vertical" placeholder="Rezultat posjeta" ng-model="vm.visitorVisit.VisitResult"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Komentar</label>
        <div class="textarea--padding">
            <textarea class="form-control" style="resize:vertical" placeholder="Komentar" ng-model="vm.visitorVisit.Comment"></textarea>
        </div>
    </div>
    <div class="form-group text-center">
        <div class="btn-group-vertical">
            <button type="submit" class="btn btn-success" value="Save" ng-disabled="!myForm.$valid" ng-click="vm.post(vm.visitorVisit)">Spremi boravak</button>
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </div>
    </div>
</form>