<div>
    <h2 class="navigation-title">Detalji</h2>
</div>
<table class="table table-hover small">
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Strani nastavnik/suradnik</td>
        <td class="text-primary" ng-hide="vm.check.visitor">
            {{vm.visitorVisit.VisitorProfile.Name}} {{vm.visitorVisit.VisitorProfile.Surname}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Institucija s koje dolazi</td>
        <td class="text-primary" ng-hide="vm.check.department">
            {{vm.visitorVisit.VisitorProfile.ForeignInstitution.InstitutionName}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Zavod/katedra</td>
        <td class="text-primary" ng-hide="vm.check.department">
            {{vm.visitorVisit.Department.Name}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Vrsta boravka</td>
        <td class="text-primary">
            <li class="list-unstyled"
                ng-repeat="visitorVisit in vm.visitorVisit.VisitorVisitTypes">
                {{visitorVisit.VisitType.Type}}
            </li>
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Kontakt osoba s Odjela</td>
        <td class="text-primary">
            {{vm.visitorVisit.UserProfile.Name}} {{vm.visitorVisit.UserProfile.Surname}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Datum početka boravka</td>
        <td class="text-primary">
            {{vm.visitorVisit.StartDate | date: "dd-MM-yyyy"}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Akademska godina</td>
        <td class="text-primary">
            {{vm.visitorVisit.AcademicYear}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Trajanje boravka</td>
        <td class="text-primary">
            {{vm.visitorVisit.Duration.Length}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Financiranje puta</td>
        <td class="text-primary">
            {{vm.visitorVisit.TravelFunding.Type}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Financiranje boravka</td>
        <td class="text-primary">
            {{vm.visitorVisit.FundingOfStay.Type}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Rezultat posjeta</td>
        <td class="text-primary">
            {{vm.visitorVisit.VisitResult}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Komentar</td>
        <td class="text-primary">
            {{vm.visitorVisit.Comment}}
        </td>
    </tr>
    <tr class="text-center">
        <td class="text-center" colspan="2">
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </td>
    </tr>
</table>