<div>
    <h2 class="navigation-title">Uredi organizaciju za razmjenu studenata</h2>
</div>
<form name="myForm" novalidate>
    <div class="form-group">
        <label for="addExchangeOrganizationName" class="form-horizontal control-label">Naziv organizacije</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addExchangeOrganizationName" placeholder="Naziv organizacije" ng-model="vm.exchangeOrganization.Name">
        </div>
    </div>
    <div class="form-group">
        <label for="addExchangeOrganizationURL" class="form-horizontal control-label">Link na službenu stranicu</label>
        <div class="input-sm">
            <input type="url" class="form-control" id="addExchangeOrganizationURL" placeholder="Link na službenu stranicu" ng-model="vm.exchangeOrganization.URL">
        </div>
    </div>
    <div class="form-group">
        <label for="addExchangeOrganizationComment" class="form-horizontal control-label">Komentar</label>
        <div class="textarea--padding">
            <textarea class="form-control" style="resize:vertical" id="addExchangeOrganizationComment" placeholder="Komentar" ng-model="vm.exchangeOrganization.Comment"></textarea>
        </div>
    </div>
    <div class="form-group text-center">
        <div class="btn-group-vertical">
            <button type="submit" class="btn btn-success" value="Save" ng-disabled="!myForm.$valid" ng-click="vm.put(vm.exchangeOrganization)">Spremi promjene</button>
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </div>
    </div>
</form>