<div>
    <h2 class="navigation-title">Uredi ugovor:</h2>
</div>
<form name="myForm" novalidate>
    <div class="form-group">
        <label for="addContractName" class="form-horizontal control-label">Naziv ugovora*</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addContractName" placeholder="Naziv ugovora" ng-model="vm.contract.Name" required>
        </div>
    </div>
    <div class="form-group">
        <label for="addContractType" class="form-horizontal control-label">Vrsta ugovora</label>
        <div class="input-sm" ng-hide="vm.check.type">
            <select class="form-control" id="addContractType" ng-model="vm.contract.ContractTypeId">
                <option value="">-- Odaberite vrstu ugovora --</option>
                <option ng-selected="{{option.ID == vm.contract.ContractTypeId}}" ng-repeat="option in vm.lookups.ContractTypes" value="{{option.ID}}">{{option.Type}}</option>
            </select>
        </div><br>
        <label for="addContractType" class="form-horizontal control-label">Vrste nema na popisu:
            <input type="checkbox" ng-model="vm.check.type"/>
        </label><br>
        <div class="input-sm" ng-show="vm.check.type">
                <input type="text" class="form-control" id="addContractType" placeholder="Vrsta ugovora" ng-model="vm.contract.ContractType.Type" >
        </div>
    </div>
    <div class="form-group">
        <label for="addContractStartDate" class="form-horizontal control-label">Početak ugovora</label>
        <div class="input-sm">
            <input type="date" class="form-control" id="addContractStartDate" ng-model="vm.contract.StartDate">
        </div>
    </div>
    <div class="form-group">
        <label for="addContractDuration" class="form-horizontal control-label">Trajanje ugovora</label>
        <div class="input-sm" ng-hide="vm.check.duration">
            <select class="form-control" id="addContractDuration" ng-model="vm.contract.DurationId">
                <option value="">-- Odaberite trajanje --</option>
                <option ng-selected="{{option.ID == vm.contract.DurationId}}" ng-repeat="option in vm.lookups.Durations" value="{{option.ID}}">{{option.Length}}</option>
            </select>
        </div><br>
        <label for="addContractDuration" class="form-horizontal control-label">Trajanja nema na popisu:
            <input type="checkbox" ng-model="vm.check.duration"/>
        </label><br>
        <div class="input-sm" ng-show="vm.check.duration">
                <input type="text" class="form-control" id="addContractType" placeholder="Trajanje ugovora" ng-model="vm.contract.Duration.Length" >
        </div>
    </div>
    <div class="form-group">
        <label for="addContractFunding" class="form-horizontal control-label">Financiranje ugovora</label>
        <div class="input-sm" ng-hide="vm.check.funding">
            <select class="form-control" id="addContractFunding" ng-model="vm.contract.FundingTypeId">
                <option value="">-- Odaberite financiranje --</option>
                <option ng-selected="{{option.ID == vm.contract.FundingTypeId}}" ng-repeat="option in vm.lookups.Fundings" value="{{option.ID}}">{{option.Type}}</option>
            </select>
        </div><br>
        <label for="addContractFunding" class="form-horizontal control-label">Financiranja nema na popisu:
            <input type="checkbox" ng-model="vm.check.funding"/>
        </label><br>
        <div class="input-sm" ng-show="vm.check.funding">
                <input type="text" class="form-control" id="addContractType" placeholder="Financiranje ugovora" ng-model="vm.contract.Funding.Type" >
        </div>
    </div>
    <div class="form-group">
        <label for="addContractDescription" class="form-horizontal control-label">Kratak sažetak predložene suradnje</label>
        <div class="textarea--padding">
            <textarea class="form-control" style="resize:vertical" id="addContractDescription" placeholder="Kratak sažetak" ng-model="vm.contract.Description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="addContractURL" class="form-horizontal control-label">URL</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addContractURL" placeholder="URL" ng-model="vm.contract.URL">
        </div>
    </div>
    <div class="form-group">
        <label for="addContractComment" class="form-horizontal control-label">Komentar</label>
        <div class="textarea--padding">
            <textarea class="form-control" style="resize:vertical" id="addContractComment" placeholder="Komentar" ng-model="vm.contract.Comment"></textarea>
        </div>
    </div>
    <div class="form-group text-center">
        <div class="btn-group-vertical">
            <button type="submit" class="btn btn-success" value="Save" ng-disabled="!myForm.$valid" ng-click="vm.put(vm.contract)">Spremi promjene</button>
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </div>
    </div>
</form>