<div>
    <h2 class="navigation-title">Detalji</h2>
</div>
<table class="table table-hover small">
    <tr>
        <td class="text-uppercase text-nowrap details--name">Naziv ugovora</td>
        <td class="text-primary">
            {{vm.contract.Name}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Vrsta ugovora</td>
        <td class="text-primary">
            {{option.ID == vm.contract.ContractType.Type}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Početak ugovora</td>
        <td class="text-primary">
            {{vm.contract.StartDate | date: "dd-MM-yyyy"}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Trajanje ugovora</td>
        <td class="text-primary">
            {{vm.contract.Duration.Length}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Financiranje ugovora</td>
        <td class="text-primary" >
            {{vm.contract.Funding.Type}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Kratak sažetak predložene suradnje</td>
        <td class="text-primary">
            {{vm.contract.Description}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">URL</td>
        <td class="text-primary">
            {{vm.contract.URL}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Komentar</td>
        <td class="text-primary">
            {{vm.contract.Comment}}
        </td>
    </tr>
    <tr class="text-center">
        <td class="text-center" colspan="2">
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </td>
    </tr>
</table>