<div>
    <h2 class="navigation-title">Uredi instituciju</h2>
</div>
<form name="myForm" novalidate>
    <div class="form-group">
        <label for="addForeignInstitutionName" class="form-horizontal control-label">Naziv institucije</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addForeignInstitutionName" placeholder="Naziv institucije" ng-model="vm.foreignInstitution.InstitutionName">
        </div>
    </div>
    <div class="form-group">
        <label for="addForeignInstitutionLocation" class="form-horizontal control-label">Lokacija</label>
        <br>
        <label for="addForeignInstitutionUserForeign" class="form-horizontal control-label">
            Inozemna?
            <input type="checkbox" ng-model="vm.foreignInstitution.Foreign" />
        </label>
        <br>
        <label for="addForeignInstitutionState" class="form-horizontal control-label">Država</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addForeignInstitutionState" placeholder="Država" ng-disabled="!vm.foreignInstitution.Foreign" ng-model="vm.foreignInstitution.State">
        </div>
        <label for="addForeignInstitutionCity" class="form-horizontal control-label">Grad</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addForeignInstitutionCity" placeholder="Grad" ng-model="vm.foreignInstitution.City">
        </div>
    </div>
    <div class="form-group">
        <label for="addForeignInstitutionDescription" class="form-horizontal control-label">Kratak opis suradnje</label>
        <div class="textarea--padding">
            <textarea class="form-control" style="resize:vertical" id="addForeignInstitutionDescription" placeholder="Opis suradnje" ng-model="vm.foreignInstitution.Description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="addForeignInstitutionUserProfile" class="form-horizontal control-label">Osoba za kontakt s Odjela</label>
        <div class="input-sm" ng-hide="vm.check.user">
            <select class="form-control" id="addForeignInstitutionUserProfile" ng-model="vm.foreignInstitution.UserProfileId">
                <option value="">-- Odaberite osobu za kontakt s Odjela --</option>
                <option ng-selected="{{option.ID == vm.foreignInstitution.UserProfileId}}" ng-repeat="option in vm.userProfiles" value="{{option.ID}}">{{option.Name}} {{option.Surname}}</option>
            </select>
        </div><br>
        <label for="addForeignInstitutionUserProfile" class="form-horizontal control-label">
            Korisnika nema na popisu:
            <input type="checkbox" ng-model="vm.check.user" />
        </label><br>
        <div class="input-sm" ng-show="vm.check.user">
            <label for="addForeignInstitutionUserProfile" class="form-horizontal control-label">Klikni za uređivanje novog profila!</label>
            <button class="btn btn-warning" ng-click="vm.addUserProfile()">Nastavi!</button>
        </div>
    </div>
    <div class="form-group">
        <label for="addForeignInstitutionContact" class="form-horizontal control-label">Osoba za kontakt s institucije</label>
        <div class="input-sm" ng-hide="vm.check.contact">
            <select class="form-control" id="addForeignInstitutionContact" ng-model="vm.foreignInstitution.ContactId">
                <option value="">-- Odaberite osobu za kontakt s institucije--</option>
                <option ng-selected="{{option.ID == vm.foreignInstitution.ContactId}}" ng-repeat="option in vm.contacts" value="{{option.ID}}">{{option.Name}} {{option.Surname}}, {{option.Email}}</option>
            </select>
        </div><br>
        <label for="addForeignInstitutionContact" class="form-horizontal control-label">
            Kontakta nema na popisu:
            <input type="checkbox" ng-model="vm.check.contact" />
        </label><br>
        <div class="input-sm" ng-show="vm.check.contact">
            <label for="addForeignInstitutionContact" class="form-horizontal control-label">Klikni za uređivanje novog kontakta!</label>
            <button class="btn btn-warning" ng-click="vm.addContact()">Nastavi!</button>
        </div>
    </div>
    <div class="form-group">
        <label for="addForeignInstitutionURL" class="form-horizontal control-label">Web adresa</label>
        <div class="input-sm">
            <input type="url" class="form-control" id="addForeignInstitutionURL" placeholder="URL" ng-model="vm.foreignInstitution.URL">
        </div>
    </div>
    <div class="form-group">
        <label for="addForeignInstitutionIsContract" class="form-horizontal control-label">Ugovor</label>
        <br>
        <label for="addForeignInstitutionUserForeign" class="form-horizontal control-label">
            Sklopljen ugovor o suradnji?
            <input type="checkbox" ng-model="vm.foreignInstitution.IsContract" />
        </label>
        <br>
        <div class="input-sm" ng-show="vm.foreignInstitution.IsContract" style="padding-bottom:95px">
            <label for="addForeignInstitutionContract" class="form-horizontal control-label">Ugovor</label>
            <select class="form-control" ng-hide="vm.check.contract" id="addForeignInstitutionContract" ng-model="vm.foreignInstitution.ContractId">
                <option value="">-- Odaberite ugovor --</option>
                <option ng-selected="{{option.ID == vm.foreignInstitution.ContractId}}" ng-repeat="option in vm.contracts" value="{{option.ID}}">{{option.Name}}</option>
            </select>
            <br>
            <label for="addForeignInstitutionContract" class="form-horizontal control-label">
                Ugovora nema na popisu:
                <input type="checkbox" ng-model="vm.check.contract" />
            </label>
            <br>
            <div class="input-sm" ng-show="vm.check.contract">
                <label for="addForeignInstitutionContract" class="form-horizontal control-label">Klikni za uređivanje novog ugovora!</label>
                <button class="btn btn-warning" ng-click="vm.addContract()">Nastavi!</button>
            </div>
        </div>
    </div>
    <div class="form-group text-center">
        <div class="btn-group-vertical">
            <button type="submit" class="btn btn-success" value="Save" ng-click="vm.put(vm.foreignInstitution)">Spremi promjene</button>
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </div>
    </div>
</form>