<div>
    <h2 class="navigation-title">Detalji</h2>
</div>
<table class="table table-hover small">
    <tr>
        <td class="text-uppercase text-nowrap details--name">Naziv institucije</td>
        <td class="text-primary">
            {{vm.foreignInstitution.InstitutionName}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Država</td>
        <td class="text-primary">
            {{vm.foreignInstitution.State}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Grad</td>
        <td class="text-primary">
            {{vm.foreignInstitution.City}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Kratak opis suradnje</td>
        <td class="text-primary">
            {{vm.foreignInstitution.Description}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Osoba za kontakt s Odjela</td>
        <td class="text-primary">
            {{vm.foreignInstitution.UserProfile.Name}} {{vm.foreignInstitution.UserProfile.Surname}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Osoba za kontakt s institucije</td>
        <td class="text-primary">
            {{vm.foreignInstitution.Contact.Name}} {{vm.foreignInstitution.Contact.Surname}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Web adresa</td>
        <td class="text-primary">
            {{vm.foreignInstitution.URL}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Ugovor</td>
        <td class="text-primary">
            {{vm.foreignInstitution.IsContract ? vm.foreignInstitution.Contract.Name : 'Nema ugovora'}}
        </td>
    </tr>
    <tr class="text-center">
        <td class="btn-group-vertical">
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </td>
    </tr>
</table>