﻿<div>
    <h2 class="navigation-title">Dodaj predsjedništvo</h2>
</div>
<form name="myForm" novalidate>
    <div class="form-group">
        <label for="addConferenceType" class="form-horizontal control-label">Vrsta</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addConferenceType" ng-model="vm.conferenceType.Type" required>
        </div>
    </div>
    <div class="form-group text-center">
        <div class="btn-group-vertical">
            <button type="submit" class="btn btn-success" value="Save" ng-disabled="!myForm.$valid" ng-click="vm.post(vm.conferenceType)">Spremi vrstu</button>
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </div>
    </div>
</form>