﻿<div>
    <h2 class="navigation-title">Uredi vrstu</h2>
</div>
<form name="myForm" novalidate>
    <div class="form-group">
        <label for="editConferenceTypeName" class="form-horizontal control-label">Vrsta*</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="editConferenceTypeName" placeholder="Vrsta" ng-model="vm.conferenceType.Type" required>
        </div>
    </div>
    <div class="form-group text-center">
        <div class="btn-group-vertical">
            <button type="submit" class="btn btn-success" value="Update" ng-disabled="!myForm.$valid" ng-click="vm.put(vm.conferenceType)" title="Update">Spremi promjene</button>
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </div>
    </div>
</form>