<div>
    <h2 class="navigation-title">Dodaj skup</h2>
</div>
<form name="myForm" novalidate>
    <div class="form-group">
        <label for="addConferenceName" class="form-horizontal control-label">Naziv</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addConferenceName" placeholder="Naziv" ng-model="vm.conference.Name">
        </div>
    </div>
    <div class="form-group">
        <label for="addConferenceEnglishName" class="form-horizontal control-label">Naziv (engleski)</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addConferenceEnglishName" placeholder="Naziv (engleski)" ng-model="vm.conference.EnglishName">
        </div>
    </div>
    <div class="form-group">
        <label for="addConferenceType" class="form-horizontal control-label">Vrsta</label>
        <div class="input-sm" ng-hide="vm.check.type">
            <select class="form-control" id="addConferenceType" ng-model="vm.conference.ConferenceTypeId">
                <option value="">-- Odaberite vrstu --</option>
                <option ng-repeat="option in vm.lookups.ConferenceTypes" value="{{option.ID}}">{{option.Type}}</option>
            </select>
        </div><br>
        <label for="addConferenceType" class="form-horizontal control-label">
            Vrste nema na popisu:
            <input type="checkbox" ng-model="vm.check.type" />
        </label><br>
        <div class="input-sm" ng-show="vm.check.type">
            <input type="text" class="form-control" id="addConferenceType" placeholder="Vrsta" ng-model="vm.conference.ConferenceType.Type">
        </div>
    </div>
    <div class="form-group">
        <label for="addConferenceDate" class="form-horizontal control-label">Datum i vrijeme održavanja</label>
        <div class="input-sm">
            <input type="datetime-local" class="form-control" id="addConferenceDate" ng-model="vm.conference.Date">
        </div>
    </div>
    <div class="form-group">
        <label for="addConferenceLocation" class="form-horizontal control-label">Mjesto održavanja</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addConferenceLocation" placeholder="Mjesto održavanja" ng-model="vm.conference.Location">
        </div>
    </div>
    <!-- Multiple select -->
    <div class="form-group">
        <label for="addConferenceInstitutions" class="form-horizontal control-label">Institucije suorganizatori</label>
        <div class="input-sm" ng-hide="vm.check.institution"
                ng-dropdown-multiselect=""
                options="vm.foreignInstitutions"
                selected-model="vm.conference.ConferenceInstitutions"
                extra-settings="{smartButtonMaxItems:3,displayProp:'InstitutionName',externalIdProp:'ForeignInstitutionId'}"
                translation-texts="{buttonDefaultText:'Označi institucije'}">
        </div>
    </div>
    <div class="form-group">
        <label for="addConferenceUserProfile" class="form-horizontal control-label">
            Institucije nema na popisu:
            <input type="checkbox" ng-model="vm.check.institution" />
        </label><br>
        <div class="input-sm" ng-show="vm.check.institution">
            <label for="addConferenceUserProfile" class="form-horizontal control-label">Klikom na dugme ćete dodavati novu instituciju!</label>
            <button class="btn btn-warning" ng-click="vm.addForeignInstitution()">Nastavi!</button>
        </div>
    </div>

    <div class="form-group">
        <label for="addConferenceLocality" class="form-horizontal control-label">Tip skupa/konferencije</label>
        <div class="input-sm">
            <select class="form-control" id="addConferenceLocality" ng-model="vm.conference.Locality">
                <option value="">-- Domaći/Međunarodni --</option>
                <option ng-repeat="option in vm.locality" value="{{option.Type}}">{{option.Type}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="addConferenceProfession" class="form-horizontal control-label">Vrsta skupa/konferencije</label>
        <div class="input-sm">
            <select class="form-control" id="addConferenceProfession" ng-model="vm.conference.Profession">
                <option value="">-- Znanstveni/Stručni --</option>
                <option ng-repeat="option in vm.profession" value="{{option.Type}}">{{option.Type}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="addConferenceURL" class="form-horizontal control-label">Link na službenu stranicu</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addConferenceURL" placeholder="URL" ng-model="vm.conference.URL">
        </div>
    </div>
    <div class="form-group">
        <label for="addConferenceComment" class="form-horizontal control-label">Komentar</label>
        <div class="textarea--padding">
            <textarea class="form-control" style="resize:vertical" id="addConferenceComment" placeholder="Komentar" ng-model="vm.conference.Comment"></textarea>
        </div>
    </div>
    <div class="form-group text-center">
        <div class="btn-group-vertical">
            <button type="submit" class="btn btn-success" value="Save" ng-disabled="!myForm.$valid" ng-click="vm.post(vm.conference)">Spremi skup</button>
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </div>
    </div>
</form>