<td>
    <h2 class="navigation-title">Detalji</h2>
</td>
<table class="table table-hover small">
    <tr>
        <td class="text-uppercase text-nowrap details--name">Naziv</td>
        <td class="text-primary">
            {{vm.conference.Name}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Naziv (engleski)</td>
        <td class="text-primary">
            {{vm.conference.EnglishName}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Vrsta</td>
        <td class="text-primary">
            {{vm.conference.ConferenceType.Type}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Datum i vrijeme održavanja</td>
        <td class="text-primary">
            {{vm.conference.Date | date: "dd-MM-yyyy"}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Mjesto održavanja</td>
        <td class="text-primary">
            {{vm.conference.Location}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Institucije suorganizatori</td>
        <td class="text-primary">
            <li class="list-unstyled"
                ng-repeat="conference in vm.conference.ConferenceInstitutions">
                {{conference.ForeignInstitution.InstitutionName}}
            </li>
        </td>
    </tr>
    <tr >
        <td class="text-uppercase text-nowrap details--name">Tip skupa / konferencije</td>
        <td class="text-primary">
            {{vm.conference.Locality}}
        </td>
    </tr>
    <tr >
        <td class="text-uppercase text-nowrap details--name">Vrsta skupa / konferencije</td>
        <td class="text-primary">
            {{vm.conference.Profession}}
        </td>
    </tr>
    <tr >
        <td class="text-uppercase text-nowrap details--name">Link na službenu stranicu</td>
        <td class="text-primary">
            {{vm.conference.URL}}
        </td>
    </tr>
    <tr >
        <td class="text-uppercase text-nowrap details--name">Komentar</td>
        <td class="text-primary">
            {{vm.conference.Comment}}
        </td>
    </tr>
    <tr class="text-center">
        <td class="text-center" colspan="2">
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </td>
    </tr>
</table>