<div>
    <h2 class="navigation-title">Dodaj stranog nastavnika/suradnika</h2>
</div>
<form name="myForm" novalidate>
    <div class="form-group">
        <label for="addVisitorProfileName" class="form-horizontal control-label">Ime</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addVisitorProfileName" placeholder="Ime" ng-model="vm.visitorProfile.Name">
        </div>
    </div>
    <div class="form-group">
        <label for="addVisitorProfileSurname" class="form-horizontal control-label">Prezime</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addVisitorProfileSurname" placeholder="Prezime" ng-model="vm.visitorProfile.Surname">
        </div>
    </div>
    <div class="form-group">
        <label for="addVisitorProfileTitle" class="form-horizontal control-label">Titula</label>
        <div class="input-sm" ng-hide="vm.check.title">
            <select class="form-control" id="addVisitorProfileTitle" ng-model="vm.visitorProfile.TitleId">
                <option value="">-- Odaberite titulu --</option>
                <option ng-repeat="option in vm.lookups.UserTitles" value="{{option.ID}}">{{option.Name}}</option>
            </select>
        </div><br>
        <label for="addVisitorProfileTitle" class="form-horizontal control-label">
            Titule nema na popisu:
            <input type="checkbox" ng-model="vm.check.title" />
        </label><br>
        <div class="input-sm" ng-show="vm.check.title">
            <input type="text" class="form-control" id="addVisitorProfileTitle" placeholder="Titula" ng-model="vm.visitorProfile.UserTitle.Name">
        </div>
    </div>
    <div class="form-group">
        <label for="addVisitorProfileForeignInstitution" class="form-horizontal control-label">Naziv institucije s koje korisnik dolazi</label>
        <div class="input-sm" ng-hide="vm.check.institution">
            <select class="form-control" id="addVisitorProfileForeignInstitution" ng-model="vm.visitorProfile.ForeignInstitutionId">
                <option value="">-- Odaberite instituciju --</option>
                <option ng-repeat="option in vm.foreignInstitutions" value="{{option.ID}}">{{option.InstitutionName}}</option>
            </select>
        </div><br>
        <label for="addVisitorProfileForeignInstitution" class="form-horizontal control-label">
            Institucije nema na popisu:
            <input type="checkbox" ng-model="vm.check.institution" />
        </label><br>
        <div class="input-sm" ng-show="vm.check.institution">
            <label for="addVisitorProfileForeignInstitution" class="form-horizontal control-label">Klikni za uređivanje nove institucije!</label>
            <button class="btn btn-warning" ng-click="vm.addForeignInstitution()">Nastavi!</button>
        </div>
    </div>
    <div class="form-group">
        <label for="addVisitorProfileTitle" class="form-horizontal control-label">Email</label>
        <div class="input-sm">
            <input type="email" class="form-control" id="addVisitorProfileTitle" placeholder="Email" ng-model="vm.visitorProfile.Email">
        </div>
    </div>
    <div class="form-group">
        <label for="addVisitorProfileTitle" class="form-horizontal control-label">Telefon</label>
        <div class="input-sm">
            <input type="tel" class="form-control" id="addVisitorProfileTitle" placeholder="Telefon" ng-model="vm.visitorProfile.TelephoneNumber">
        </div>
    </div>
    <div class="form-group">
        <label for="addVisitorProfileTitle" class="form-horizontal control-label">Link slike</label>
        <div class="input-sm">
            <input type="url" class="form-control" id="addVisitorProfileTitle" placeholder="Link slike" ng-model="vm.visitorProfile.PicturePath">
        </div>
    </div>
    <div class="form-group">
        <label for="addVisitorProfileTitle" class="form-horizontal control-label">URL</label>
        <div class="input-sm">
            <input type="url" class="form-control" id="addVisitorProfileTitle" placeholder="URL" ng-model="vm.visitorProfile.URL">
        </div>
    </div>
    <div class="form-group">
        <label for="addVisitorProfileComment" class="form-horizontal control-label">Komentar</label>
        <div class="textarea--padding">
            <textarea class="form-control" style="resize:vertical" id="addVisitorProfileComment" placeholder="Komentar" ng-model="vm.visitorProfile.Comment"></textarea>
        </div>
    </div>
    <div class="form-group text-center">
        <div class="btn-group-vertical">
            <button type="submit" class="btn btn-success" value="Save" ng-disabled="!myForm.$valid" ng-click="vm.post(vm.visitorProfile)">Spremi korisnika</button>
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </div>
    </div>
</form>