<div>
    <h2 class="navigation-title">Detalji</h2>
</div>
<table class="table table-hover small">
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Ime</td>
        <td class="text-primary">
            {{vm.visitorProfile.Name}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Prezime</td>
        <td class="text-primary">
            {{vm.visitorProfile.Surname}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Titula</td>
        <td class="text-primary">
            {{vm.visitorProfile.UserTitle.Name}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Naziv institucije s koje korisnik dolazi</td>
        <td class="text-primary">
            {{vm.visitorProfile.ForeignInstitution.InstitutionName}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Email</td>
        <td class="text-primary">
            {{vm.visitorProfile.Email}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Telefon</td>
        <td class="text-primary">
            {{vm.visitorProfile.TelephoneNumber}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Link slike</td>
        <td class="text-primary">
            {{vm.visitorProfile.PicturePath}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">URL</td>
        <td class="text-primary">
            {{vm.visitorProfile.URL}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Komentar</td>
        <td class="text-primary">
            {{vm.visitorProfile.Comment}}
        </td>
    </tr>
    <tr class="text-center">
        <td class="text-center" colspan="2">
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </td>
    </tr>
</table>