﻿<nav class="navbar navbar-default" ng-show="currentState()">
    <div class="container-fluid">
        <div class="navbar-header" >
            <button type="button" class="navbar-toggle collapsed" 
                    data-toggle="collapse" 
                    data-target="#bs-example-navbar-collapse-1" 
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> 
            <a ui-sref="home" class="navbar-brand">
                Quality Office
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" 
                        data-toggle="dropdown" 
                        role="button" 
                        aria-haspopup="true" 
                        aria-expanded="false">Boravci 
                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="ourProfessorVisit">Boravci djelatnika Odjela za matematiku</a></li>
                        <li><a ui-sref="visitorVisit">Boravci stranih djelatnika na Odjelu</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="ourStudentExchange">Boravci studenata Odjela za matematiku</a></li>
                        <li><a ui-sref="foreignStudentExchange">Boravci stranih studenata na Odjelu</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" 
                        data-toggle="dropdown" 
                        role="button" 
                        aria-haspopup="true" 
                        aria-expanded="false">Profili 
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="userProfile">Djelatnici Odjela za matematiku</a></li>
                        <li><a ui-sref="visitorProfile">Strani nastavnici / suradnici</a></li>
                        <li><a ui-sref="committeeMember">Članovi povjerenstava</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="foreignStudent">Strani studenti</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="contact">Kontakti</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" 
                        data-toggle="dropdown" 
                        role="button" 
                        aria-haspopup="true" 
                        aria-expanded="false">Institucije 
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="exchangeOrganization">Organizacije za razmjenu studenata</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="foreignInstitution">Strane institucije</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" 
                        data-toggle="dropdown" 
                        role="button" 
                        aria-haspopup="true" 
                        aria-expanded="false">Predavanja 
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="conference">Skupovi</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="nonPublicationLecture">Predavanja bez popratne publikacije rada</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a ui-sref="contract">Ugovori</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" 
                        data-toggle="dropdown" 
                        role="button" 
                        aria-haspopup="true" 
                        aria-expanded="false">Administracija 
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="role">Uloge</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="chair">Predsjedništva</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="conferenceType">Vrste skupova</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="logged"><a class="user"><span class="glyphicon glyphicon-user"></span> Pozdrav, {{authorizationData.userName}} </a></li>
                <li ng-if="logged"><a ng-click="logOut()" ui-sref="home">Odjava</a></li>
                <li ng-if="!logged"><button ui-sref="login" class="btn btn-default navbar-btn">Prijava</button></li>
                <li ng-if="!logged"><button ui-sref="register" class="btn btn-default user navbar-btn">Registracija</button></li>
            </ul>
        </div>
    </div>
</nav>