﻿<div>
    <h2 class="navigation-title">Dodaj predsjedništvo</h2>
</div>
<form name="myForm" novalidate>
    <div class="form-group">
        <label for="addChairName" class="form-horizontal control-label">Naziv predsjedništva*</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addChairName" ng-model="vm.chair.Name" required>
        </div>
    </div>
    <div class="form-group">
        <label for="editChairEnglishName" class="form-horizontal control-label">Naziv predsjedništva (en)*</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="editChairEnglishName" ng-model="vm.chair.EnglishName" required>
        </div>
    </div>
    <div class="form-group">
        <label for="editChairURL" class="form-horizontal control-label">URL</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="editChairURL" ng-model="vm.chair.URL">
        </div>
    </div>
    <div class="form-group text-center">
        <div class="btn-group-vertical">
            <button type="submit" class="btn btn-success" value="Save" ng-disabled="!myForm.$valid" ng-click="vm.post(vm.chair)">Spremi predsjedništvo</button>
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </div>
    </div>
</form>