﻿<div>
    <h2 class="navigation-title">Uredi predsjedništvo</h2>
</div>
<form name="myForm" novalidate>
    <div class="form-group">
        <label for="editChairName" class="form-horizontal control-label">Predsjedništvo*</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="editChairName" placeholder="Predsjedništvo" ng-model="vm.chair.Name" required>
        </div>
    </div>
    <div class="form-group">
        <label for="editChairEnglishName" class="form-horizontal control-label">Predsjedništvo(EN)*</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="editChairEnglishName" placeholder="Predsjedništvo(EN)" ng-model="vm.chair.EnglishName" required>
        </div>
    </div>
    <div class="form-group">
        <label for="editChairURL" class="form-horizontal control-label">URL</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="editChairURL" placeholder="URL" ng-model="vm.chair.URL">
        </div>
    </div>
    <div class="form-group text-center">
        <div class="btn-group-vertical">
            <button type="submit" class="btn btn-success" value="Update" ng-disabled="!myForm.$valid" ng-click="vm.put(vm.chair)" title="Update">Spremi promjene</button>
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </div>
    </div>
</form>