﻿<div>
    <h2 class="navigation-title">Detalji</h2>
</div>
<table class="table table-hover small">
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Predsjedništvo</td>
        <td class="text-primary">
            {{vm.chair.Name}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Predsjedništvo(EN)</td>
        <td class="text-primary">
            {{vm.chair.EnglishName}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">URL</td>
        <td class="text-primary">
            {{vm.chair.URL}}
        </td>
    </tr>
    <tr class="text-center">
        <td class="text-center" colspan="2">
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </td>
    </tr>
</table>