<!--<div id="myNav" class="overlay" ng-click="closeForm()">
    <div ng-controller="AddCommitteeMemberController as vm" ng-click="$event.stopPropagation()">
        <div class="main-content input-form small popover popover--form"
             ng-class="{'push--back':vm.showAddUserProfile,'':!vm.showAddUserProfile}">-->
            <div>
                <h2 class="navigation-title">Dodaj člana povjerenstva</h2>
            </div>
            <form name="myForm" novalidate>
                <div class="form-group">
                    <label for="addCommitteeMemberUserProfile" class="form-horizontal control-label">Korisnik</label>
                    <div class="input-sm" ng-hide="vm.check.user">
                        <select class="form-control" id="addCommitteeMemberUserProfile" ng-model="vm.committeeMember.UserProfileId">
                            <option value="">-- Odaberite korisnika --</option>
                            <option ng-repeat="option in vm.userProfiles" value="{{option.ID}}">{{option.Name}} {{option.Surname}}</option>
                        </select>
                    </div><br>
                    <label for="addCommitteeMemberUserProfile" class="form-horizontal control-label">
                        Korisnika nema na popisu:
                        <input type="checkbox" ng-model="vm.check.user" />
                    </label><br>
                    <div class="input-sm" ng-show="vm.check.user">
                        <label for="addCommitteeMemberUserProfile" class="form-horizontal control-label">Klikni za uređivanje novog profila!</label>
                        <button class="btn btn-warning" ng-click="vm.addUserProfile()">Nastavi!</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="addCommitteeMemberTitle" class="form-horizontal control-label">Naziv časopisa/konferencije</label>
                    <div class="input-sm">
                        <input type="text" class="form-control" id="addCommitteeMemberTitle" placeholder="Naziv časopisa/konferencije" ng-model="vm.committeeMember.Title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="addCommitteeMemberCommittee" class="form-horizontal control-label">Naziv povjerenstva</label>
                    <div class="input-sm" ng-hide="vm.check.committee">
                        <select class="form-control" id="addCommitteeMemberCommittee" ng-model="vm.committeeMember.CommitteeId">
                            <option value="">-- Odaberite povjerenstvo --</option>
                            <option ng-repeat="option in vm.lookups.Committees" value="{{option.ID}}">{{option.Name}}</option>
                        </select>
                    </div><br>
                    <label for="addCommitteeMemberCommittee" class="form-horizontal control-label">
                        Povjerenstva nema na popisu:
                        <input type="checkbox" ng-model="vm.check.committee" />
                    </label><br>
                    <div class="input-sm" ng-show="vm.check.committee">
                        <input type="text" class="form-control" id="addCommitteeMemberCommittee" placeholder="Naziv povjerenstva" ng-model="vm.committeeMember.Committee.Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="addCommitteeMemberCommitteeMemberRole" class="form-horizontal control-label">Uloga u povjerenstvu</label>
                    <div class="input-sm" ng-hide="vm.check.role">
                        <select class="form-control" id="addCommitteeMemberCommitteeMemberRole" ng-model="vm.committeeMember.CommitteeMemberRoleId">
                            <option value="">-- Odaberite ulogu --</option>
                            <option ng-repeat="option in vm.lookups.CommitteeMemberRoles" value="{{option.ID}}">{{option.Name}}</option>
                        </select>
                    </div><br>
                    <label for="addCommitteeMemberCommitteeMemberRole" class="form-horizontal control-label">
                        Uloge nema na popisu:
                        <input type="checkbox" ng-model="vm.check.role" />
                    </label><br>
                    <div class="input-sm" ng-show="vm.check.role">
                        <input type="text" class="form-control" id="addCommitteeMemberCommitteeMemberRole" placeholder="Naziv uloge" ng-model="vm.committeeMember.CommitteeMemberRole.Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="addCommitteeMemberDateOfElection" class="form-horizontal control-label">Datum imenovanja</label>
                    <div class="input-sm">
                        <input type="date" class="form-control" id="addCommitteeMemberDateOfElection" ng-model="vm.committeeMember.DateOfElection">
                    </div>
                </div>
                <div class="form-group">
                    <label for="addCommitteeMemberPeriodOfElection" class="form-horizontal control-label">Razdoblje imenovanja</label>
                    <div class="input-sm">
                        <input type="text" class="form-control" id="addCommitteeMemberPeriodOfElection" placeholder="Razdoblje imenovanja" ng-model="vm.committeeMember.PeriodOfElection">
                    </div>
                </div>
                <div class="form-group">
                    <label for="addCommitteeMemberElectingInstitution" class="form-horizontal control-label">Naziv institucije koja je imenovala člana</label>
                    <div class="input-sm" ng-hide="vm.check.institution">
                        <select class="form-control" id="addCommitteeMemberElectingInstitution" ng-model="vm.committeeMember.ElectingInstitutionId">
                            <option value="">-- Odaberite instituciju --</option>
                            <option ng-repeat="option in vm.lookups.ElectingInstitutions" value="{{option.ID}}">{{option.Name}}</option>
                        </select>
                    </div><br>
                    <label for="addCommitteeMemberElectingInstitution" class="form-horizontal control-label">
                        Institucije nema na popisu:
                        <input type="checkbox" ng-model="vm.check.institution" />
                    </label><br>
                    <div class="input-sm" ng-show="vm.check.institution">
                        <input type="text" class="form-control" placeholder="Naziv institucije" ng-model="vm.committeeMember.ElectingInstitution.Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="addCommitteeMemberComment" class="form-horizontal control-label">Komentar</label>
                    <div class="textarea--padding">
                        <textarea class="form-control" style="resize:vertical" id="addCommitteeMemberComment" placeholder="Komentar" ng-model="vm.committeeMember.Comment"></textarea>
                    </div>
                </div>
                <div class="form-group text-center">
                    <div class="btn-group-vertical">
                        <button type="submit" class="btn btn-success" value="Save" ng-disabled="!myForm.$valid" ng-click="vm.post(vm.committeeMember)">Spremi člana</button>
                        <button class="btn btn-danger" ng-click="closeForm()">Odustani</button>
                    </div>
                </div>
            </form>
        <!--</div>
        <add-user-profile ng-show="vm.showAddUserProfile"></add-user-profile>
    </div>
</div>-->