<div>
    <h2 class="navigation-title">Detalji</h2>
</div>
<table class="table table-hover small">
    <tr>
        <td class="text-uppercase text-nowrap details--name">Član povjerenstva</td>
        <td class="text-primary">
            {{vm.committeeMember.UserProfile.Name}} {{vm.committeeMember.UserProfile.Surname}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Naziv časopisa / konferencije</td>
        <td class="text-primary">{{vm.committeeMember.Title}}</td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Naziv povjerenstva</td>
        <td class="text-primary">{{vm.committeeMember.Committee.Name}}</td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Uloga u povjerenstvu</td>
        <td class="text-primary">
            {{vm.committeeMember.CommitteeMemberRole.Name}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Datum imenovanja</td>
        <td class="text-primary">
            {{vm.committeeMember.DateOfElection | date: "dd.MM.yyyy."}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Razdoblje imenovanja</td>
        <td class="text-primary">
            {{vm.committeeMember.PeriodOfElection}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name text-nowrap details--name">Institucija koja je imenovala člana</td>
        <td class="text-primary">
            {{vm.committeeMember.ElectingInstitution.Name}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Komentar</td>
        <td class="text-primary">
            {{vm.committeeMember.Comment}}
        </td>
    </tr>
    <tr class="text-center">
        <td class="text-center" colspan="2">
            <button class="btn btn-danger" ng-click="closeThisDialog()">Zatvori</button>
        </td>
    </tr>
</table>