<div>
    <h2 class="navigation-title">Dodaj predavanje bez popratne publikacije rada</h2>
</div>
<form name="myForm" novalidate>
    <div class="form-group">
        <label for="addNonPublicationLectureTitle" class="form-horizontal control-label">Ime predavača</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addNonPublicationLectureTitle" placeholder="Ime" ng-model="vm.nonPublicationLecture.Name">
        </div>
    </div>
    <div class="form-group">
        <label for="addNonPublicationLectureTitle" class="form-horizontal control-label">Prezime</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addNonPublicationLectureTitle" placeholder="Prezime" ng-model="vm.nonPublicationLecture.Surname">
        </div>
    </div>
    <div class="form-group">
        <label class="form-horizontal control-label">Institucija na kojoj se održavalo predavanje</label>
        <div class="input-sm" ng-hide="vm.check.institution">
            <select class="form-control" ng-model="vm.nonPublicationLecture.ForeignInstitutionId">
                <option value="">-- Odaberite instituciju --</option>
                <option ng-repeat="option in vm.foreignInstitutions" value="{{option.ID}}">{{option.InstitutionName}}</option>
            </select>
        </div><br>
        <label class="form-horizontal control-label">
            Institucije nema na popisu:
            <input type="checkbox" ng-model="vm.check.institution" />
        </label><br>
        <div class="input-sm" ng-show="vm.check.institution">
            <label class="form-horizontal control-label">Klikni za uređivanje nove institucije!</label>
            <button class="btn btn-warning" ng-click="vm.addForeignInstitution()">Nastavi!</button>
        </div>
    </div>
    <!--<div class="form-group">
        <label for="addNonPublicationLectureTitle" class="form-horizontal control-label">Lokacija</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addNonPublicationLectureTitle" placeholder="Lokacija" ng-model="vm.nonPublicationLecture.Location">
        </div>
    </div>-->
    <div class="form-group">
        <label for="addNonPublicationLectureTitle" class="form-horizontal control-label">Grad</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addNonPublicationLectureTitle" placeholder="Grad" ng-model="vm.nonPublicationLecture.City">
        </div>
    </div>
    <div class="form-group">
        <label for="addNonPublicationLectureTitle" class="form-horizontal control-label">Država</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addNonPublicationLectureTitle" placeholder="Država" ng-model="vm.nonPublicationLecture.State">
        </div>
    </div>
    <div class="form-group">
        <label for="addNonPublicationLectureCommittee" class="form-horizontal control-label">Vrsta predavanja</label>
        <div class="input-sm" ng-hide="vm.check.type">
            <select class="form-control" id="addNonPublicationLectureCommittee" ng-model="vm.nonPublicationLecture.ConferenceTypeId">
                <option value="">-- Odaberite vrstu predavanja --</option>
                <option ng-repeat="option in vm.lookups.ConferenceTypes" value="{{option.ID}}">{{option.Type}}</option>
            </select>
        </div><br>
        <label for="addNonPublicationLectureCommittee" class="form-horizontal control-label">
            Vrste nema na popisu:
            <input type="checkbox" ng-model="vm.check.type" />
        </label><br>
        <div class="input-sm" ng-show="vm.check.type">
            <input type="text" class="form-control" id="addNonPublicationLectureCommittee" placeholder="Vrsta" ng-model="vm.nonPublicationLecture.ConferenceType.Type">
        </div>
    </div>
    <div class="form-group">
        <label for="addNonPublicationLectureDateOfElection" class="form-horizontal control-label">Vrijeme održavanja (od-do)</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addNonPublicationLectureDateOfElection" ng-model="vm.nonPublicationLecture.Period">
        </div>
    </div>
    <div class="form-group">
        <label for="addNonPublicationLecturePeriodOfElection" class="form-horizontal control-label">Datum održavanja</label>
        <div class="input-sm">
            <input type="date" class="form-control" id="addNonPublicationLecturePeriodOfElection" ng-model="vm.nonPublicationLecture.Date">
        </div>
    </div>
    <div class="form-group">
        <label for="addNonPublicationLectureTitle" class="form-horizontal control-label">Naslov predavanja</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addNonPublicationLectureTitle" placeholder="Naslov predavanja" ng-model="vm.nonPublicationLecture.Title">
        </div>
    </div>
    <div class="form-group">
        <label for="addNonPublicationLectureTitle" class="form-horizontal control-label">Naslov predavanja(en)</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addNonPublicationLectureTitle" placeholder="Naslov predavanja(en)" ng-model="vm.nonPublicationLecture.EnglishTitle">
        </div>
    </div>
    <div class="form-group">
        <label for="addConferenceProfession" class="form-horizontal control-label">Tip predavanja</label>
        <div class="input-sm">
            <select class="form-control" id="addConferenceProfession" ng-model="vm.nonPublicationLecture.Profession">
                <option value="">-- Znanstveno/Stručno --</option>
                <option ng-repeat="option in vm.profession" value="{{option.Type}}">{{option.Type}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="addNonPublicationLectureComment" class="form-horizontal control-label">Sažetak</label>
        <div class="textarea--padding">
            <textarea class="form-control" style="resize:vertical" id="addNonPublicationLectureComment" placeholder="Sažetak" ng-model="vm.nonPublicationLecture.Summary"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="addNonPublicationLectureComment" class="form-horizontal control-label">Opis</label>
        <div class="textarea--padding">
            <textarea class="form-control" style="resize:vertical" id="addNonPublicationLectureComment" placeholder="Opis" ng-model="vm.nonPublicationLecture.Description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="addNonPublicationLectureTitle" class="form-horizontal control-label">Web adresa</label>
        <div class="input-sm">
            <input type="url" class="form-control" id="addNonPublicationLectureTitle" placeholder="URL" ng-model="vm.nonPublicationLecture.URL">
        </div>
    </div>
    <div class="form-group">
        <label for="addNonPublicationLectureComment" class="form-horizontal control-label">Komentar</label>
        <div class="textarea--padding">
            <textarea class="form-control" style="resize:vertical" id="addNonPublicationLectureComment" placeholder="Komentar" ng-model="vm.nonPublicationLecture.Comment"></textarea>
        </div>
    </div>
    <div class="form-group text-center">
        <div class="btn-group-vertical">
            <button type="submit" class="btn btn-success" value="Save" ng-disabled="!myForm.$valid" ng-click="vm.post(vm.nonPublicationLecture)">Spremi predavanje</button>
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </div>
    </div>
</form>
