<td>
    <h2 class="navigation-title">Detalji</h2>
</td>
<table class="table table-hover small">
    <tr>
        <td class="text-uppercase text-nowrap details--name">Predavač</td>
        <td class="text-primary">
            {{vm.nonPublicationLecture.Name}} {{vm.nonPublicationLecture.Surname}}
        </td>
    </tr>
    <tr class="">
        <td class="text-uppercase text-nowrap details--name">Institucija na kojoj se održavalo predavanje</td>
        <td class="text-primary">
            {{vm.nonPublicationLecture.ForeignInstitution.InstitutionName}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Grad</td>
        <td class="text-primary">
            {{vm.nonPublicationLecture.City}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Država</td>
        <td class="text-primary">
            {{vm.nonPublicationLecture.State}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Vrsta predavanja</td>
        <td class="text-primary">
            {{vm.nonPublicationLecture.ConferenceType.Type}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Vrijeme održavanja (od-do)</td>
        <td class="text-primary">
            {{vm.nonPublicationLecture.Period}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Datum održavanja</td>
        <td class="text-primary">
            {{vm.nonPublicationLecture.Date | date: "dd-MM-yyyy"}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Naslov predavanja</td>
        <td class="text-primary">
            {{vm.nonPublicationLecture.Title}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Naslov predavanja(en)</td>
        <td class="text-primary">
            {{vm.nonPublicationLecture.EnglishTitle}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Tip predavanja</td>
        <td class="text-primary">
            {{option.Type == vm.nonPublicationLecture.Profession.Type}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Sažetak</td>
        <td class="text-primary">
            {{vm.nonPublicationLecture.Summary}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Opis</td>
        <td class="text-primary">
            {{vm.nonPublicationLecture.Description}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Web adresa</td>
        <td class="text-primary">
            {{vm.nonPublicationLecture.URL}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Komentar</td>
        <td class="text-primary">
            {{vm.nonPublicationLecture.Comment}}
        </td>
    </tr>
    <tr class="text-center">
        <td class="text-center" colspan="2">
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </td>
    </tr>
</table>