<div>
    <h2 class="navigation-title">Detalji</h2>
</div>
<table class="table table-hover small">
    <tr>
        <td class="text-uppercase text-nowrap details--name">Ime</td>
        <td class="text-primary">
            {{vm.ourStudentExchange.Name}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Prezime</td>
        <td class="text-primary">
            {{vm.ourStudentExchange.Surname}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Institucija</td>
        <td class="text-primary">
            {{vm.ourStudentExchange.ForeignInstitution.InstitutionName}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Zavod/Katedra</td>
        <td class="text-primary">
            {{vm.ourStudentExchange.Department.Name}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Svrha posjeta</td>
        <td class="text-primary">
            {{vm.ourStudentExchange.VisitPurpose.Type}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Semestar</td>
        <td class="text-primary">
            {{vm.ourStudentExchange.Semester.Type}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Organizacija posjeta</td>
        <td class="text-primary">
            {{vm.ourStudentExchange.ExchangeOrganization.Name}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Datum početka boravka</td>
        <td class="text-primary">
            {{vm.ourStudentExchange.StartDate | date: "dd-MM-yyyy"}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Akademska godina</td>
        <td class="text-primary">
            {{vm.ourStudentExchange.AcademicYear}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Trajanje boravka</td>
        <td class="text-primary">
            {{vm.ourStudentExchange.Duration.Length}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Financiranje puta</td>
        <td class="text-primary">
            {{vm.ourStudentExchange.TravelFunding.Type}}
        </td>
    </tr>
    <tr>
        <td  class="text-uppercase text-nowrap details--name">Financiranje boravka</td>
        <td class="text-primary">
            {{vm.ourStudentExchange.FundingOfStay.Type}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Rezultat posjeta</td>
        <td class="text-primary">
            {{vm.ourStudentExchange.ExchangeResult}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Komentar</td>
        <td class="text-primary">
            {{vm.ourStudentExchange.Comment}}
        </td>
    </tr>
    <tr class="text-center">
        <td class="text-center" colspan="2">
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </td>
    </tr>
</table>