<div>
    <h2 class="navigation-title">Dodaj kontakt</h2>
</div>
<form name="myForm" novalidate>
    <div class="form-group">
        <label for="addContactName" class="form-horizontal control-label">Ime*</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addContactName" placeholder="Ime" ng-model="vm.contact.Name" required>
        </div>
    </div>
    <div class="form-group">
        <label for="addContactSurname" class="form-horizontal control-label">Prezime</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addContactSurname" placeholder="Prezime" ng-model="vm.contact.Surname">
        </div>
    </div>
    <div class="form-group">
        <label for="addContactTelephone" class="form-horizontal control-label">Telefon</label>
        <div class="input-sm">
            <input type="tel" class="form-control" id="addContactTelephone" placeholder="Telefon" ng-model="vm.contact.TelephoneNumber">
        </div>
    </div>
    <div class="form-group">
        <label for="addContactEmail" class="form-horizontal control-label">Email</label>
        <div class="input-sm">
            <input type="email" class="form-control" id="addContactEmail" placeholder="Email" ng-model="vm.contact.Email">
        </div>
    </div>
    <div class="form-group text-center">
        <div class="btn-group-vertical">
            <button type="submit" class="btn btn-success" value="Save" ng-disabled="!myForm.$valid" ng-click="vm.post(vm.contact)">Spremi kontakt</button>
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </div>
    </div>
</form>