<div>
    <h2 class="navigation-title">Detalji</h2>
</div>
<table class="table table-hover small">
    <tr>
        <td class="text-uppercase text-nowrap details--name">Ime</td>
        <td class="text-primary">
            {{vm.contact.Name}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Prezime</td>
        <td class="text-primary">
            {{vm.contact.Surname}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Telefon</td>
        <td class="text-primary">
            {{vm.contact.TelephoneNumber}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Email</td>
        <td class="text-primary">
            {{vm.contact.Email}}
        </td>
    </tr>
    <tr class="text-center">
        <td class="text-center" colspan="2">
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </td>
    </tr>
</table>