﻿<div ng-controller="RegisterUserController as vm">
    <div class="main-content">
        <div>
            <h2 class="navigation-title">Registracija korisnika</h2>
        </div>
        <form class="form-horizontal" role="form" name="registerForm">
            <div class="form-group">
                <label class="control-label col-sm-2" for="user">Korisničko ime*</label>
                <div class="col-sm-10">
                    <input type="text" ng-minlength="6" ng-maxlength="15" ng-model="vm.registerUser.userName" class="form-control" name="user" id="user" placeholder="Unesite korisničko ime" required>
                    <div role="alert">
                        <span class="error" ng-show="registerForm.user.$error.minlength">
                            Mora sadržavati barem 6 znakova!
                        </span>
                        <span class="error" ng-show="registerForm.user.$error.maxlength">
                            Duljina ne smije prelaziti 15 znakova!
                        </span>
                    </div>
                </div>          
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Lozinka*</label>
                <div class="col-sm-10">
                    <input type="password" ng-minlength="6" ng-model="vm.registerUser.password" class="form-control" name="pwd" id="pwd" placeholder="Unesite zaporku" required>
                    <div role="alert">
                        <span class="error" ng-show="registerForm.pwd.$error.minlength">
                            Mora sadržavati barem 6 znakova!
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwdcheck">Ponovite lozinku*</label>
                <div class="col-sm-10">
                    <input type="password" ng-model="vm.registerUser.confirmPassword" class="form-control" id="pwdcheck" placeholder="Ponovite zaporku" required>
                    <div role="alert">
                        <span class="error" ng-show="vm.registerUser.confirmPassword && vm.registerUser.password != vm.registerUser.confirmPassword">
                            Lozinke se ne podudaraju!
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">E-mail*</label>
                <div class="col-sm-10">
                    <input type="email" ng-maxlength="250" ng-model="vm.registerUser.email" class="form-control" name="email" id="email" placeholder="Unesite e-mail" required>
                    <div role="alert">
                        <span class="error" ng-show="registerForm.email.$error.maxlength">
                            Duljina ne smije prelaziti 250 znakova!
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="emailcheck">Ponovite e-mail*</label>
                <div class="col-sm-10">
                    <input type="email" ng-model="vm.confirmEmail" class="form-control" id="emailcheck" placeholder="Ponovite e-mail" required>
                    <div role="alert">
                        <span class="error" ng-show="vm.confirmEmail && vm.registerUser.email != vm.confirmEmail">
                            E-mailovi se ne podudaraju!
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="vm.register(vm.registerUser)" ng-disabled="!registerForm.$valid || vm.loading">Potvrdi</button>
                </div>
            </div>
            <div class="spinner-loader" ng-show="vm.loading"></div>
            <div class="list-group-item js-fade login-alert" ng-class="[vm.class, vm.fadeClass]">
                <span class="glyphicon" ng-class="vm.iconClass" aria-hidden="true"></span>
                {{vm.message}}
            </div>
        </form>
    </div>

    <div>
        <a class="btn btn-default" aria-label="Natrag" ui-sref="home"><i class="glyphicon glyphicon-chevron-left"></i>Početna</a>
    </div>
</div>