﻿<div>
    <h2 class="navigation-title">Dodaj ulogu</h2>
</div>
<form name="myForm" novalidate>
    <div class="form-group">
        <label for="addRoleName" class="form-horizontal control-label">Uloga*</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="addRoleName" placeholder="Uloga" ng-model="vm.role.Name" required>
        </div>
    </div>
    <div class="form-group">
        <label for="addRoleDescription" class="form-horizontal control-label">Opis</label>
        <div class="textarea--padding">
            <textarea id="addRoleDescription" style="resize:vertical" class="form-control" rows="1" placeholder="Opis" ng-model="vm.role.Description"></textarea>
        </div>
    </div>
    <div class="form-group text-center">
        <div class="btn-group-vertical">
            <button type="submit" class="btn btn-success" value="Save" ng-disabled="!myForm.$valid" ng-click="vm.post(vm.role)">Spremi ulogu</button>
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </div>
    </div>
</form>
