﻿<div>
    <h2 class="navigation-title">Uredi ulogu</h2>
</div>
<form name="myForm" novalidate>
    <div class="form-group">
        <label for="editRoleName" class="form-horizontal control-label">Uloga*</label>
        <div class="input-sm">
            <input type="text" class="form-control" id="editRoleName" placeholder="Uloga" ng-model="vm.role.Name" required>
        </div>
    </div>
    <div class="form-group">
        <label for="editRoleDescription" class="form-horizontal control-label">Opis</label>
        <div class="textarea--padding">
            <textarea id="editRoleDescription" style="resize:vertical" class="form-control" rows="1" placeholder="Opis" ng-model="vm.role.Description"></textarea>
        </div>
    </div>
    <div class="form-group text-center">
        <div class="btn-group-vertical">
            <button type="submit" class="btn btn-success" value="Update" ng-disabled="!myForm.$valid" ng-click="vm.put(vm.role)" title="Update">Spremi promjene</button>
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </div>
    </div>
</form>