﻿<div ng-controller="RoleController as vm">
    <div class="main-content">
        <div>
            <h2 class="navigation-title">Uloge</h2>
            <div class="row">
                <div class="col-xs-3 col-md-2 col-lg-1">
                    <button class="list-group-item list-group-item-success" style="text-align:center"
                            ng-click="vm.addRole()">Dodaj</button>
                </div>
                <div class="col-xs-9 col-md-10 col-lg-11 list-group-item js-fade" ng-class="[vm.class, vm.fadeClass]">
                    <span class="glyphicon" ng-class="vm.iconClass" aria-hidden="true"></span>
                    {{vm.message}}
                </div>
            </div>
        </div>
        <table st-table="displayedCollection" st-safe-src="vm.roles" class="table table-hover small">
            <caption class="text-right "><input st-search="" class="form-control" placeholder="Tražilica ..." type="text" /></caption>
            <thead class="text-nowrap">
                <tr>
                    <th>Uloga</th>
                    <th>Uredi</th>
                    <th>Obriši</th>
                </tr>
            </thead>
            <tbody ng-show="!vm.loading">
                <tr ng-repeat="role in displayedCollection" ng-click="vm.showRole(role)">
                    <td>{{role.Name}}</td>
                    <td ng-click="$event.stopPropagation()"><a ng-click="vm.editRole(role)"><i class="glyphicon glyphicon-edit" style=" color:blue"></i></a></td>
                    <td ng-click="$event.stopPropagation()"><a href="javascript:void(0);" ng-click="vm.delete(role)"><i class="glyphicon glyphicon-trash" style="color:red"></i></a></td>
                </tr>
            </tbody>
            <tbody ng-show="vm.loading">
                <tr>
                    <td colspan="3" class="text-center"><div class="spinner-loader" ng-show="vm.loading"></div></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-center">
                        <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div>
        <a class="btn btn-default" aria-label="Natrag" ui-sref="home"><i class="glyphicon glyphicon-chevron-left"></i>Početna</a>
    </div>
</div>