﻿<div>
    <h2 class="navigation-title">Detalji</h2>
</div>
<table class="table table-hover small">
    <tr>
        <td class="text-uppercase text-nowrap details--name">Uloga</td>
        <td class="text-primary">
            {{vm.role.Name}}
        </td>
    </tr>
    <tr>
        <td class="text-uppercase text-nowrap details--name">Opis</td>
        <td class="text-primary">
            {{vm.role.Description}}
        </td>
    </tr>
    <tr class="text-center">
        <td class="text-center" colspan="2">
            <button class="btn btn-danger" ng-click="closeThisDialog()">Odustani</button>
        </td>
    </tr>
</table>